Backup_2026-07-02/Event Email Automation (RAG).json
{
  "updatedAt": "2026-03-10T16:00:28.953Z",
  "createdAt": "2026-01-17T14:21:13.949Z",
  "id": "QCfNMj1fQ8dvUUuS",
  "name": "Event Email Automation (RAG)",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2cb6ffe8-2f48-8013-938a-c839a0cf6be4",
          "mode": "list",
          "cachedResultName": "Calendar Intake",
          "cachedResultUrl": "https://www.notion.so/2cb6ffe82f488013938ac839a0cf6be4"
        },
        "limit": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        256,
        -736
      ],
      "id": "8c6e87ee-9ca6-492b-9c76-925eb315e395",
      "name": "Get many database pages",
      "credentials": {
        "notionApi": {
          "id": "GvXFbJlEgvlLAuri",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        -672
      ],
      "id": "ad26b250-7bd9-4e0a-9a4a-747abf9844d1",
      "name": "Telegram Trigger",
      "webhookId": "11850013-db51-4de0-a0b6-0eacfc24a594",
      "credentials": {
        "telegramApi": {
          "id": "6fUhH8U521Ac8nBQ",
          "name": "Email_Promo"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }},\n\n\n",
        "options": {
          "systemMessage": "You are a copywriter for Clearbrook Center of the Arts, a Kursthalle-style, multidisciplinary arts center located in Lake Ridge, Virginia. Your role is to write professional, compelling email submissions to media outlets that promote Clearbrook programs and events. Use information from a series documents that you will recieve to answer questions about the events, their hosts and target audience. Use the knowledge about the target audience for the events to influence the writing of the descriptions. \n\n The documents are either text based (Txt, docs, extracted PDFs, etc.) or tabular data (CSVs or Excel documents).\n\nYou are given tools to perform RAG in the 'documents' table, look up the documents available in your knowledge base in the 'document_metadata' table, extract all the text from a given document, and query the tabular files with SQL in the 'document_rows' table.\n\nAlways start by performing RAG unless the question requires a SQL query for tabular data (fetching a sum, finding a max, something a RAG lookup would be unreliable for). If RAG doesn't help, then look at the documents that are available to you, find a few that you think would contain the answer, and then analyze those.\n\nAlways tell the user if you didn't find the answer. Don't make something up just to please them.\n\nClearbrook Center of the Arts centers experimental, non-commercial, and community-rooted art practices. When writing, reflect Clearbrook’s values of accessibility, artistic freedom, and cultural relevance.\n\nWorkflow\n\nIdentify the Media Outlet\n\nAsk the user which news or media outlet the email will be sent to.\n\nIf the outlet is Prince William Living, use the Prince William Living Submission Format.\n\nFor all other outlets, use the Default Submission Format.\n\nDraft the Email Submission\n\nWrite a polished draft suitable for direct submission to the specified outlet.\n\nThe event description must be tailored to the target audience of the program.\nDon't write the same description for different occurences of events with the same name ( For example: don't have the exact same description for Speak Into Existence Open Mic in February as you do in March)\nFor events hosted by the Clearbrook Artist Collective, assume the default audience is anti-mainstream, experimental, and alternative creatives, unless the user specifies otherwise.\n\nMaintain a professional but engaging tone appropriate for arts and culture media.\n\nRequest Approval\n\nPresent the draft to the user for review.\n\nAsk for approval before finalizing.\n\nIf the user rejects the draft, ask them to specify changes in direction (tone, length, audience, emphasis, etc.) and revise accordingly.\n\nPrince William Living Submission Format\n\nTitle\nExample: Farmers Market\n\nDate\nUse the format: Day, Month, Date, Year, Time\nExample: Sat. Apr. 8, 15, 22, 29 | 8 a.m. to 1 p.m.\n\nLocation\nClearbrook Center of the Arts\n2230 B Tackett’s Mill Drive,\nLake Ridge, VA 22192\n\nDescription:\nA concise, engaging paragraph written for a general lifestyle audience. Highlight what makes the event appealing, accessible, and noteworthy to Prince William Living readers.\n\nDefault Submission Format\n\nCreate submissions for all upcoming events within the month of submission.\n\nExclude events that have already occurred prior to the submission date.\n\nUse the following format for each event:\n\nTitle\nExample: Farmers Market\n\nDate\nUse the format: Day, Month, Date, Year, Time\nExample: Sat. Apr. 8, 15, 22, 29 | 8 a.m. to 1 p.m.\n\nLocation\nClearbrook Center of the Arts\n2230 B Tackett’s Mill Drive,\nLake Ridge, VA 22192\n\nDescription:\nWrite a compelling, audience-focused description that emphasizes artistic intent, community relevance, and what makes the event unique. Avoid overly commercial language. Do not use em dashes. When appropriate, reinforce that art at Clearbrook is inclusive, participatory, and not limited by formal credentials."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        992,
        -864
      ],
      "id": "5660b961-f183-4c1f-aebe-0133e3840f62",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        608,
        -608
      ],
      "id": "07f2e9b8-1881-4209-9f7a-e50b83c2667e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4GXamIpdskwyAIku",
          "name": "Blog Agent"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        16,
        416
      ],
      "id": "ee344239-8cd3-4339-8464-7b86eb080609",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        3824,
        464
      ],
      "id": "0e3bf78a-b8a9-400a-a628-8a8ebe148999"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE document_rows (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES document_metadata(id),\n    row_data JSONB  -- Store the actual row data\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -128,
        -192
      ],
      "id": "e297343e-8069-4842-9dad-2eaf220c17d5",
      "name": "Create Document Rows Table (for Tabular Data)",
      "credentials": {
        "postgres": {
          "id": "KK2cg5hcKu3L0DVn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE document_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -336,
        -112
      ],
      "id": "7a31e401-cad2-48ca-b5a1-fc4e0b4ae5d2",
      "name": "Create Document Metadata Table",
      "credentials": {
        "postgres": {
          "id": "KK2cg5hcKu3L0DVn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID').item.json.file_id }}",
            "title": "={{ $('Set File ID').item.json.file_title }}",
            "url": "={{ $('Set File ID').item.json.file_url }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1200,
        160
      ],
      "id": "161bb301-79fa-429a-9ed3-946211a4016c",
      "name": "Insert Document Metadata",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "KK2cg5hcKu3L0DVn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfac5451-797d-4b04-8e3f-700bac92b799",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "bd6cec10-d525-4b64-8c03-86547a89523d",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "7050810e-11a4-44a1-860e-5e91844ffeb4",
              "name": "file_title",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "84be8dac-fd0e-476c-b687-c18d17360f73",
              "name": "file_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        432
      ],
      "id": "31dcb4f7-d905-4cc8-bf33-17fd59c781bf",
      "name": "Set File ID"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "=FixedExpression{{ $('Set File ID').item.json.file_type }}FixedExpressionRename Output FixedExpression{{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e355a3f2-2a10-4b12-ac15-ecb794995a47"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "05fbc7bc-f548-49f5-ba83-652c7643a9d9",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "37bca2f9-adcb-4c90-978b-d6f2887fa211",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5d53c421-b668-417c-b009-4c54320ff4e0",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1888,
        160
      ],
      "id": "56c2e0c8-3709-49cf-8bf6-82ca62a6b7f3",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2432,
        160
      ],
      "id": "444aa6fc-721b-4c6a-a68e-377af40006d5",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2464,
        288
      ],
      "id": "4ec75916-8ad2-41c3-af1d-a4a2b1cdde4b",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "code": {
          "execute": {
            "code": "const { PromptTemplate } = require('@langchain/core/prompts');\n\nconst documentContent = $input.item.json?.data || $input.item.json?.text;\nconst maxChunkSize = 1000;\nconst minChunkSize = 400;\n\nif (!documentContent) {\n    throw new Error('No document found in input');\n}\n\nconst llm = await this.getInputConnectionData('ai_languageModel', 0);\n\nfunction cleanText(text) {\n    return text.replace(/\\s+/g, ' ').trim();\n}\n\nconst chunks = [];\nlet remainingText = cleanText(documentContent);\nlet chunkNumber = 1;\n\nif (remainingText.length <= maxChunkSize) {\n    chunks.push({\n        content: remainingText,\n        chunk: chunkNumber,\n        chunk_size: remainingText.length\n    });\n} else {\n    while (remainingText) {\n        const textToAnalyze = remainingText.substring(0, maxChunkSize);\n        \n        const promptText = `You are analyzing a document to find the best transition point to split it into meaningful sections.\n\nYour goal: Keep related content together and split where topics naturally transition.\n\nRead this text carefully and identify where one topic/section ends and another begins:\n\n${textToAnalyze}\n\nFind the best transition point that occurs BEFORE character position ${maxChunkSize}.\n\nLook for:\n- Section headings or topic changes\n- Paragraph boundaries where the subject shifts\n- Complete conclusions before new ideas start\n- Natural breaks between different aspects of the content\n\nOutput the LAST WORD that appears right before your chosen split point.\nJust the single word itself, nothing else.\nExample: If you want to split after \"The company was founded in 2022.\" then output: \"2022\"`;\n        \n        const prompt = PromptTemplate.fromTemplate(promptText);\n        const chain = prompt.pipe(llm);\n        \n        let breakPoint = maxChunkSize;\n        \n        try {\n            const response = await chain.invoke();\n            const responseText = response.content || response.text || response.toString();\n            const breakWord = responseText.trim();\n            \n            if (breakWord) {\n                // Find the last occurrence of this word in the text to analyze\n                const wordIndex = textToAnalyze.lastIndexOf(breakWord);\n                if (wordIndex !== -1) {\n                    // Split after the word (including any punctuation that follows)\n                    breakPoint = wordIndex + breakWord.length;\n                    // Move past any punctuation or single space after the word\n                    while (breakPoint < textToAnalyze.length && \n                           (textToAnalyze[breakPoint] === '.' || \n                            textToAnalyze[breakPoint] === '!' || \n                            textToAnalyze[breakPoint] === '?' || \n                            textToAnalyze[breakPoint] === ',' || \n                            textToAnalyze[breakPoint] === ';' || \n                            textToAnalyze[breakPoint] === ':' || \n                            textToAnalyze[breakPoint] === ' ')) {\n                        breakPoint++;\n                        // Stop after moving past one space\n                        if (textToAnalyze[breakPoint - 1] === ' ') break;\n                    }\n                    breakPoint = Math.min(breakPoint, maxChunkSize);\n                }\n            }\n        } catch (error) {\n            console.log('LLM failed to determine breakpoint, using max size:', error.message);\n            breakPoint = maxChunkSize;\n        }\n        \n        const chunk = remainingText.substring(0, breakPoint).trim();\n        \n        if (chunk) {\n            chunks.push({\n                content: chunk,\n                chunk: chunkNumber,\n                chunk_size: chunk.length\n            });\n            chunkNumber++;\n        }\n        \n        remainingText = remainingText.substring(breakPoint).trim();\n        \n        if (!remainingText) {\n            break;\n        }\n    }\n}\n\n// Merge chunks that are below minimum size with adjacent chunks if possible\nlet i = 0;\nwhile (i < chunks.length) {\n    if (chunks[i].chunk_size < minChunkSize) {\n        // Try to merge with next chunk first if it exists and won't exceed max\n        if (i + 1 < chunks.length && \n            chunks[i].chunk_size + chunks[i + 1].chunk_size <= maxChunkSize) {\n            // Merge current with next\n            chunks[i].content += ' ' + chunks[i + 1].content;\n            chunks[i].chunk_size = chunks[i].content.length;\n            chunks.splice(i + 1, 1);\n            // Don't increment i, check this chunk again in case it's still small\n        } \n        // Otherwise try to merge with previous chunk if it exists and won't exceed max\n        else if (i > 0 && \n                 chunks[i - 1].chunk_size + chunks[i].chunk_size <= maxChunkSize) {\n            // Merge current into previous\n            chunks[i - 1].content += ' ' + chunks[i].content;\n            chunks[i - 1].chunk_size = chunks[i - 1].content.length;\n            chunks.splice(i, 1);\n            // Don't increment i, we removed current chunk\n        } else {\n            // Can't merge without exceeding max, move on\n            i++;\n        }\n    } else {\n        i++;\n    }\n}\n\nconst returnData = chunks.map(chunk => ({\n    json: chunk\n}));\n\nreturn returnData;"
          }
        },
        "inputs": {
          "input": [
            {
              "type": "ai_languageModel",
              "maxConnections": 1,
              "required": true
            },
            {
              "type": "main",
              "required": true
            }
          ]
        },
        "outputs": {
          "output": [
            {
              "type": "main"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.code",
      "typeVersion": 1,
      "position": [
        2960,
        128
      ],
      "id": "a44c1801-0620-4b72-9759-a105eaa07e18",
      "name": "LangChain Code"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3104,
        544
      ],
      "id": "008062de-e550-417e-93a7-211677739302",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "4GXamIpdskwyAIku",
          "name": "Blog Agent"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        3328,
        32
      ],
      "id": "5243a02b-2fe3-426b-a5b0-639536eeaeff",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "KK2cg5hcKu3L0DVn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        3232,
        256
      ],
      "id": "f9eab61a-ceba-47c7-97a7-a0521dec0bd4",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "4GXamIpdskwyAIku",
          "name": "Blog Agent"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content || $json.data || $json.text || $json.concatenated_data }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Set File ID').first().json.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $('Set File ID').first().json.file_title }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        3392,
        240
      ],
      "id": "b6b7f0bd-98a6-4f1a-a784-20a5ea4f3cc9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        3456,
        400
      ],
      "id": "d53e1b92-705a-4550-85a7-61d156b4784f",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1872,
        736
      ],
      "id": "885e76b5-bd8d-430b-81fa-31298de65bf5",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c247d7cd-51f4-4dbb-a5ef-d6136999ca7b",
              "name": "={{ $('Loop Over Items').item.json.exportLinks['application/vnd.oasis.opendocument.text'] }}",
              "value": "={{ JSON.stringify($json,null,2) }}",
              "type": "string"
            },
            {
              "id": "04053b48-a241-4bac-9e1d-586b4ac0ab82",
              "name": "FileName",
              "value": "={{ $json.title }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1648,
        720
      ],
      "id": "0ead2efb-1b75-4cee-9543-484a071cf140",
      "name": "prepare file content"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1536,
        400
      ],
      "id": "24b53c95-c9f0-40b4-91ab-66aa243cf67a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V94DJQfeJWQjogd2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to fetch all available documents, including the table schema if the file is a CSV or Excel file.",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1136,
        -576
      ],
      "id": "3a445d54-7d15-4615-b7f5-01d7acbab67f",
      "name": "List Documents",
      "credentials": {
        "postgres": {
          "id": "KK2cg5hcKu3L0DVn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Given a file ID, fetches the text from the document.",
        "operation": "executeQuery",
        "query": "SELECT \n    string_agg(text, ' ') as document_text\nFROM documents_pg\n  WHERE metadata->>'file_id' = $1\nGROUP BY metadata->>'file_id';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        736,
        -592
      ],
      "id": "befe9dd3-1cb9-4591-80ab-4972bec9bd38",
      "name": "Execute a SQL query in Postgres",
      "credentials": {
        "postgres": {
          "id": "KK2cg5hcKu3L0DVn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Run a SQL query - use this to query from the document_rows table once you know the file ID you are querying. dataset_id is the file_id and you are always using the row_data for filtering, which is a jsonb field that has all the keys from the file schema given in the document_metadata table.\n",
        "operation": "executeQuery",
        "query": "{{ $fromAI('sql_query') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1024,
        -528
      ],
      "id": "f5f67914-7e57-42cd-8e2a-f484beb12626",
      "name": "Query Document Rows",
      "credentials": {
        "postgres": {
          "id": "KK2cg5hcKu3L0DVn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use RAG to look up information in the knowledgebase.",
        "topK": 25,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1184,
        -480
      ],
      "id": "8dc59e67-1241-4df3-991f-6d17eaeb9797",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "KK2cg5hcKu3L0DVn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1104,
        -304
      ],
      "id": "fa0a0ae7-8658-4259-8939-c54677baccfa",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "4GXamIpdskwyAIku",
          "name": "Blog Agent"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        1552,
        -208
      ],
      "id": "a32ddaf7-3652-4590-95ad-38df5adc4a39",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "OxoJwbTomw2S39So",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        784,
        -432
      ],
      "id": "c1924a22-87d4-4199-829d-7c1fbf534169",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        464,
        -736
      ],
      "id": "41c6a0a2-1d65-429c-80dc-bae0a0f8f918",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me1",
      "typeVersion": 1,
      "position": [
        2768,
        -64
      ],
      "id": "6221b4c9-cbad-44ff-8c49-b9cb6668b948"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "852adaaf-fbd9-4db1-836f-2785d54bf0c6",
              "leftValue": "={{ $json.result.reply_markup.inline_keyboard[0][0].callback_data }}",
              "rightValue": "Approve",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "efc739f8-62bb-4cd6-ae56-ba28f3bc4385",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2208,
        -208
      ],
      "id": "499788fb-b240-46ab-a48f-bf2a1d3e6fc3",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM document_rows\nWHERE dataset_id LIKE '%' || $1 || '%';\n",
        "options": {
          "queryReplacement": "={{ $('Set File ID').item.json.file_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        864,
        384
      ],
      "id": "91204e60-69e3-420a-8c8b-9cb863d3fbfa",
      "name": "Delete Old Rows",
      "credentials": {
        "postgres": {
          "id": "KK2cg5hcKu3L0DVn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DO $$\nBEGIN\n    IF EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'neondb') THEN\n        EXECUTE 'DELETE FROM neondb WHERE metadata->>''file_id'' LIKE ''%' || $1 || '%''';\n    END IF;\nEND\n$$;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        272
      ],
      "id": "cc52a9f9-af8a-4a3e-bbbe-c11812f40d4a",
      "name": "Delete Old Doc Rows",
      "credentials": {
        "postgres": {
          "id": "KK2cg5hcKu3L0DVn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1QFWRHsk289ml8NvrUWx1R0YoPKgjyybM",
          "mode": "list",
          "cachedResultName": "Clearbrook Docs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1QFWRHsk289ml8NvrUWx1R0YoPKgjyybM"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        416
      ],
      "id": "d52d09f2-a5d7-4b6d-b356-63c359b9e763",
      "name": "File Created",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V94DJQfeJWQjogd2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "1j6WAJoBI37O2K-4Uh8wZ5YI9cgP73ye3dWX1nEsMI4k",
          "mode": "list",
          "cachedResultName": "Clearbrook Programs",
          "cachedResultUrl": "https://docs.google.com/document/d/1j6WAJoBI37O2K-4Uh8wZ5YI9cgP73ye3dWX1nEsMI4k/edit?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        576
      ],
      "id": "0d4639b8-91d7-4e0f-affa-f37265578da7",
      "name": "File Updated",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V94DJQfeJWQjogd2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1648,
        -864
      ],
      "id": "16dae4e7-5a99-495f-af83-5aa9bd3a91b3",
      "name": "Send message and wait for response",
      "webhookId": "644a4b39-309d-4e71-bc55-67b4ea119dd2",
      "credentials": {
        "telegramApi": {
          "id": "6fUhH8U521Ac8nBQ",
          "name": "Email_Promo"
        }
      }
    }
  ],
  "connections": {
    "Get many database pages": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Document Metadata": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "LangChain Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "LangChain Code",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "LangChain Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LangChain Code": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        []
      ]
    },
    "prepare file content": {
      "main": [
        []
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Documents": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query in Postgres": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query Document Rows": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Rows": {
      "main": [
        [
          {
            "node": "Insert Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Delete Old Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2026-01-28T06:56:07Z"
    },
    "node:Google Drive Trigger1": {
      "lastTimeChecked": "2026-01-28T06:56:07Z"
    },
    "node:File Created": {
      "lastTimeChecked": "2026-02-08T18:43:59Z"
    },
    "node:File Updated": {
      "lastTimeChecked": "2026-02-08T18:44:00Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 108889469,
          "message": {
            "message_id": 3,
            "from": {
              "id": 6990062444,
              "is_bot": false,
              "first_name": "J",
              "last_name": "W",
              "language_code": "en"
            },
            "chat": {
              "id": 6990062444,
              "first_name": "J",
              "last_name": "W",
              "type": "private"
            },
            "date": 1769449863,
            "text": "hi"
          }
        }
      }
    ]
  },
  "versionId": "610e1010-19ac-4b3f-80ff-a4391f7efa85",
  "activeVersionId": null,
  "triggerCount": 3,
  "shared": [
    {
      "updatedAt": "2026-01-17T14:21:13.949Z",
      "createdAt": "2026-01-17T14:21:13.949Z",
      "role": "workflow:owner",
      "workflowId": "QCfNMj1fQ8dvUUuS",
      "projectId": "ltdhHXOvbQcr8AFb"
    }
  ],
  "activeVersion": null,
  "tags": []
}