Backup_2026-07-02/Flea Vendors.json
{
  "updatedAt": "2026-04-15T16:02:10.563Z",
  "createdAt": "2026-04-13T21:09:40.247Z",
  "id": "xxBuEU5lkoETY6ef",
  "name": "Flea Vendors",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "31c53755-8b78-45db-abca-5eae19d74a0c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19JzZ29F-ROBwM2HZqU1iAyp6QXAukP36BYbX7BKNWKw",
          "mode": "list",
          "cachedResultName": "Dirty Flea Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19JzZ29F-ROBwM2HZqU1iAyp6QXAukP36BYbX7BKNWKw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19JzZ29F-ROBwM2HZqU1iAyp6QXAukP36BYbX7BKNWKw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "6d4836fc-86f0-44e3-a13d-1f388192f02d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lOnwdkB64nY6ZNRm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        816,
        -48
      ],
      "id": "af21f6d9-8e8e-4365-bc56-b28ec3b27238",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        2432,
        0
      ],
      "id": "291f0528-881b-4dc1-8455-26ce4ac664d7"
    },
    {
      "parameters": {
        "query": "=I need the website link,instagram link, and location for {{ $json['Vendor Name'] }} which is a  {{ $json.Category }} vendor. For the location you can format the response as \"city/state\" If you cannot find information for the vendor, respond with \"unknown\"",
        "options": {
          "max_results": 1
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        1328,
        -80
      ],
      "id": "9925e081-665e-44c1-bdf5-bd7b010c840e",
      "name": "Search",
      "credentials": {
        "tavilyApi": {
          "id": "o41ChwLCtWJ1tlwd",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19JzZ29F-ROBwM2HZqU1iAyp6QXAukP36BYbX7BKNWKw",
          "mode": "list",
          "cachedResultName": "Dirty Flea Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19JzZ29F-ROBwM2HZqU1iAyp6QXAukP36BYbX7BKNWKw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19JzZ29F-ROBwM2HZqU1iAyp6QXAukP36BYbX7BKNWKw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Vendor Name": "={{ $('Get row(s) in sheet').item.json['Vendor Name'] }}",
            "Location": "={{ $json.results[0].title }}",
            "Website": "={{ $json.results[0].url }}"
          },
          "matchingColumns": [
            "Vendor Name"
          ],
          "schema": [
            {
              "id": "Vendor Name",
              "displayName": "Vendor Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instagram ",
              "displayName": "Instagram ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1936,
        -16
      ],
      "id": "10acb7ae-dad2-4fde-a30c-c7017a29e750",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lOnwdkB64nY6ZNRm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2240,
        0
      ],
      "id": "405c5393-281d-4257-936f-303f7ac040be",
      "name": "Wait",
      "webhookId": "c160235e-7593-4db8-8e3f-403f2d08323b"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "7f07cc33-5ab2-4fd4-bbaa-d748ccc9be51",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-13T21:09:40.247Z",
      "createdAt": "2026-04-13T21:09:40.247Z",
      "role": "workflow:owner",
      "workflowId": "xxBuEU5lkoETY6ef",
      "projectId": "ltdhHXOvbQcr8AFb"
    }
  ],
  "activeVersion": null,
  "tags": []
}