Backup_2026-07-02/Hours of Operation Finder.json
{
  "updatedAt": "2026-06-27T17:38:42.589Z",
  "createdAt": "2026-06-27T17:38:42.589Z",
  "id": "WkpOvtES16Kyx2pq",
  "name": "Hours of Operation Finder",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "764749a5-6069-4758-bbe1-9cd02ab0dd19",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ISGGpwoJXY2fhbYfMcKWly1iujxcJ9WRWmFY6-dO4TQ",
          "mode": "list",
          "cachedResultName": "Flyer Dropoff locations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ISGGpwoJXY2fhbYfMcKWly1iujxcJ9WRWmFY6-dO4TQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ISGGpwoJXY2fhbYfMcKWly1iujxcJ9WRWmFY6-dO4TQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "90360221-ee99-4047-808c-4b6a0973eb9d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lOnwdkB64nY6ZNRm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        816,
        -48
      ],
      "id": "125af597-f3aa-4d01-bfdd-e68470120242",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        2432,
        0
      ],
      "id": "caca74c5-f606-4945-8fe6-a1b66409716c"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ISGGpwoJXY2fhbYfMcKWly1iujxcJ9WRWmFY6-dO4TQ",
          "mode": "list",
          "cachedResultName": "Flyer Dropoff locations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ISGGpwoJXY2fhbYfMcKWly1iujxcJ9WRWmFY6-dO4TQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ISGGpwoJXY2fhbYfMcKWly1iujxcJ9WRWmFY6-dO4TQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Business Name": "={{ $('Get row(s) in sheet').item.json['Business Name'] }}"
          },
          "matchingColumns": [
            "Business Name"
          ],
          "schema": [
            {
              "id": "Business Name",
              "displayName": "Business Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hours of Operation",
              "displayName": "Hours of Operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1936,
        -16
      ],
      "id": "0dababda-f7df-4946-af76-83e716ecd6b1",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lOnwdkB64nY6ZNRm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "path": "acac29ee-3331-4770-9878-038d379a7297"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2240,
        0
      ],
      "id": "72d6093a-1961-41ec-8472-c1ee5b39ee71",
      "name": "Wait",
      "webhookId": "acac29ee-3331-4770-9878-038d379a7297"
    },
    {
      "parameters": {
        "query": "=Find the website for {{ $json.Name }} located at{{ $json.Address }}?",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        672,
        -384
      ],
      "id": "4c22a360-274e-452b-8d68-538fea460dc0",
      "name": "Search",
      "credentials": {
        "tavilyApi": {
          "id": "o41ChwLCtWJ1tlwd",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "resource": "MapSearch",
        "operation": "search",
        "query": "=find the full storefront address for {{ $json['Business Name'] }} at {{ $json.Address }}",
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        1344,
        -112
      ],
      "id": "a2b38858-745d-4b13-8537-f1b164b376a0",
      "name": "/search",
      "credentials": {
        "firecrawlApi": {
          "id": "sdkglgxG9QCpqFnO",
          "name": "Firecrawl account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "/search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search": {
      "main": [
        []
      ]
    },
    "/search": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "5968a1af-f99a-4838-ab16-32aa98a3b420",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-27T17:38:42.589Z",
      "createdAt": "2026-06-27T17:38:42.589Z",
      "role": "workflow:owner",
      "workflowId": "WkpOvtES16Kyx2pq",
      "projectId": "ltdhHXOvbQcr8AFb"
    }
  ],
  "activeVersion": null,
  "tags": []
}