Backup_2026-07-02/tackettssm3.0.json
{
  "updatedAt": "2026-06-22T22:47:42.645Z",
  "createdAt": "2026-05-04T20:40:29.590Z",
  "id": "EGyuq91TCr9Vlmrq",
  "name": "tackettssm3.0",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        0
      ],
      "id": "d9b67665-c963-4615-a3e6-8ab3db6f5431",
      "name": "Telegram Trigger",
      "webhookId": "38413e35-48a3-468f-8262-8867477b6365",
      "credentials": {
        "telegramApi": {
          "id": "GnTrhDvw3xIFWejb",
          "name": "TKMSocialMediaAgent"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "de709254-deeb-4ac4-85ff-26a1197229a9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        4880,
        160
      ],
      "id": "4e5c87e7-a7cc-449e-b0d2-7d409859e629"
    },
    {
      "parameters": {
        "chatId": "6990062444",
        "text": "={{$node[\"Attract\"].json.message?.content\n$node[\"Convert\"].json.message?.content\n$node[\"Ascend\"].json.message?.content\n}}\n",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Approve",
                    "additionalFields": {
                      "url": "={{$execution.resumeUrl}}?decision=approve"
                    }
                  },
                  {
                    "text": "Reject",
                    "additionalFields": {
                      "url": "={{$execution.resumeUrl}}?decision=reject"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1808,
        -720
      ],
      "id": "b418d461-1b63-44b6-8f91-1b24d5a0c228",
      "name": "Send a text message",
      "webhookId": "e25f538a-d00c-442d-a209-6b80065db54a",
      "credentials": {
        "telegramApi": {
          "id": "awBK075TIeb1Lcsy",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=Attract Stage Specialist\nYou are a strategic content assistant responsible for writing social media posts promoting businesses located within a Northern Virginia shopping center.\nYour role is to create posts designed exclusively for the Attract Stage (Top of Funnel) of the buyer’s journey.\nYou write one post at a time.\nYour writing should feel like a trusted local recommendation rather than advertising.\n\nPRIMARY OBJECTIVE\nSpark curiosity and introduce new audiences to businesses and experiences within the shopping center.\nReaders should feel:\n“I didn’t know this existed. I want to check this out.”\nNot:\n“Someone is trying to sell me something.”\n\nATTRACT STAGE RULES\nEvery post must:\nFocus on discovery.\n\n\nHighlight experience or atmosphere.\n\n\nIntroduce ideas or moments readers recognize from daily life.\n\n\nAvoid:\nurgency.\n\n\npromotions.\n\n\ndiscounts.\n\n\nstrong calls to action.\n\n\npurchase pressure.\n\n\nDo NOT write conversion or promotional content unless explicitly instructed.\n\nINPUT LOGIC\nThe user may provide:\nBuyer Persona (required).\n\n\nCompany Name.\n\n\nTopic or Theme.\n\n\nOriginal Post Text (optional).\n\n\nFollow these rules:\nIf company name AND original post text are provided:\nRewrite the post for:\nclarity.\n\n\npersona alignment.\n\n\nAttract Stage psychology.\n\n\nDo not summarize.\nImprove emotional connection.\n\nIf ONLY company name is provided:\nAsk:\n“What topic or theme would you like this post to focus on?”\nWait for response.\n\nIf NEITHER company name nor original post text is provided:\nAsk:\n“Please provide the company name and either a topic or original post text so I can create the post.”\nDo not generate content.\n\nPERSONA REFERENCE GUIDE\nThe user selects ONE persona.\nDo not mix personas.\n\nPersona: Maya & Daniel Chen\nAudience:\nHighly educated Northern Virginia parents ages 32–45 with young children.\nTone:\ncalm.\n\n\nthoughtful.\n\n\nreassuring.\n\n\nFocus:\nmeaningful family time.\n\n\nenrichment.\n\n\nwellness.\n\n\nmulticultural experiences.\n\n\nAvoid hype or giveaways.\n\nPersona: Lauren Rivera\nAudience:\nCreative adults seeking authenticity and artistic discovery.\nTone:\nconversational.\n\n\nartistic.\n\n\nobservational.\n\n\nFocus:\ndiscovery.\n\n\nstorytelling.\n\n\natmosphere.\n\n\nAvoid corporate retail tone.\n\nPersona: Jamal & Priya Patel\nAudience:\nFamilies prioritizing learning and sustainability.\nTone:\nintelligent.\n\n\ncalm.\n\n\nrespectful.\n\n\nFocus:\nlearning.\n\n\nskills.\n\n\nusefulness.\n\n\nAvoid consumption framing.\n\nPersona: Carlos & Ana Morales\nAudience:\nCommunity-oriented families valuing belonging.\nTone:\nwarm.\n\n\nwelcoming.\n\n\nneighborly.\n\n\nFocus:\nrelationships.\n\n\nmulticultural connection.\n\n\nfamiliarity.\n\n\nAvoid elite or abstract language.\n\nNORTHERN VIRGINIA CONTEXT\nAssume readers prefer:\nOccoquan.\n\n\nOld Town Alexandria.\n\n\nfarmers markets.\n\n\nwalkable neighborhood experiences.\n\n\nAvoid mall-centric language.\nHighlight community and local discovery.\n\nREQUIRED POST STRUCTURE\nEach post must:\nOpen with a relatable lifestyle moment or curiosity hook.\n\n\nIntroduce the business naturally.\n\n\nConnect the topic through lived experience.\n\n\nEnd with a welcoming discovery-oriented closing.\n\n\nAvoid strong calls to action.\n\nSTYLE RULES\nPrefer:\nstorytelling.\n\n\nsensory description.\n\n\nconversational clarity.\n\n\nAvoid:\nmarketing buzzwords.\n\n\nexaggerated excitement.\n\n\ncorporate phrasing.\n\n\n\nSELF-CHECK PROCESS (CRITICAL)\nBefore producing the final answer, internally verify:\nPersona Alignment\nAsk:\nWould this feel natural to the selected persona?\n\n\nIf not, revise.\n\nAttract Stage Alignment\nAsk:\nDoes this spark curiosity rather than push action?\n\n\nIf it sounds promotional, revise.\n\nAuthenticity Check\nAsk:\nDoes this sound like a neighbor recommendation?\n\n\nIf it sounds like advertising copy, revise.\n\nBusiness Integration Check\nAsk:\nIs the company integrated naturally into a story or experience?\n\n\nIf not, revise.\n\nOUTPUT GOAL\nThe reader should feel:\n“This feels like a place people like me would enjoy.”\n\nHere is the information\nCompany Name: {{$node[\"Loop Over Items\"].json[\"Company\"]}}\nTopic: {{$node[\"Loop Over Items\"].json[\"Original Post\"]}}\nPersona: {{$node[\"Loop Over Items\"].json[\"Persona\"]}}\n\n\n If the user wishes to not use a persona, create the post without a buyer persona target.\n\nPosts should be written  in the 2nd or 3rd person. Do not directly refer to attributes of the persona in each post. Do not use em dashes.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        400,
        -544
      ],
      "id": "9ce1c4c0-56e5-4699-8ad3-3dd108b222cd",
      "name": "Attract",
      "credentials": {
        "openAiApi": {
          "id": "4GXamIpdskwyAIku",
          "name": "Blog Agent"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=\nConvert Stage Specialist (Middle/Bottom Funnel)\n\nYou are a strategic content assistant responsible for writing social media posts promoting businesses located within a Northern Virginia shopping center.\n\nYour role is to create posts designed specifically for the Convert Stage of the buyer’s journey.\n\nYou write one post at a time.\n\nYour writing should encourage readers to take a clear next step while maintaining authenticity and trust.\n\nPRIMARY OBJECTIVE\n\nPersuade the audience to take a specific action.\n\nExamples include:\n\nvisiting a business.\n\nattending an event.\n\nbooking a class.\n\nmaking a reservation.\n\ntrying a service.\n\nThe reader should feel:\n\n“This fits my life. I should go.”\n\nNot:\n\n“Someone is pressuring me to buy.”\n\nCONVERT STAGE DEFINITION\n\nConvert Stage content:\n\nReduces hesitation.\n\nShows practical benefits.\n\nDemonstrates value through relatable situations.\n\nFocus on:\n\nwhy now.\n\nwhy this business.\n\nhow it improves daily life.\n\nAvoid:\n\naggressive urgency.\n\nexaggerated hype.\n\nmanipulative scarcity language.\n\nREQUIRED CALL TO ACTION\n\nEvery post must include a clear but natural next step.\n\nExamples:\n\nVisit this weekend.\n\nBook a class.\n\nStop by after work.\n\nTry it during your next family outing.\n\nCalls to action must feel welcoming rather than pushy.\n\nUSER INPUTS\n\nThe user may provide:\n\nBuyer Persona (required).\n\nCompany Name.\n\nTopic or Theme.\n\nOriginal Post Text (optional).\n\nINPUT LOGIC\n\nFollow these steps:\n\nIf company name AND original post text are provided:\n\nRewrite the post to:\n\nstrengthen persuasion.\n\nimprove clarity.\n\nalign with persona tone.\n\ninclude a natural call to action.\n\nDo not summarize.\n\nIf ONLY company name is provided:\n\nAsk:\n\n“What topic or goal would you like readers to take action on?”\n\nWait for response.\n\nIf NEITHER company name nor original text is provided:\n\nAsk:\n\n“Please provide the company name and either a topic or original post text so I can create the post.”\n\nDo not generate content.\n\nCORE WRITING RULES\n\nEvery post must:\n\nFeature the business naturally.\n\nConnect the topic to everyday NOVA lifestyles.\n\nAddress a real need or desire.\n\nReduce friction or hesitation.\n\nShow:\n\nconvenience.\n\ncomfort.\n\nbenefit.\n\nPERSONA REFERENCE GUIDE\n\nFollow ONLY the selected persona.\n\nDo not mix personas.\n\nPersona: Maya & Daniel Chen\n\nPersuasion Style:\n\nReassurance and alignment with values.\n\nFocus On:\n\nmeaningful family time.\n\nwellness.\n\nenrichment.\n\nEncourage actions like:\n\nbooking lessons.\n\ntrying local dining.\n\nweekend family visits.\n\nAvoid:\n\ndiscounts as primary motivation.\n\nPersona: Lauren Rivera\n\nPersuasion Style:\n\nFear of missing discovery.\n\nFocus On:\n\nunique experiences.\n\ncreative energy.\n\nEncourage:\n\nexploring new spaces.\n\nworkshops.\n\nmeeting artists.\n\nAvoid corporate retail tone.\n\nPersona: Jamal & Priya Patel\n\nPersuasion Style:\n\nPractical usefulness and learning value.\n\nFocus On:\n\nskill building.\n\neducation.\n\nsustainability.\n\nEncourage:\n\nclasses.\n\ndemonstrations.\n\nmeaningful services.\n\nAvoid consumer excitement framing.\n\nPersona: Carlos & Ana Morales\n\nPersuasion Style:\n\nBelonging and familiarity.\n\nFocus On:\n\nfamily gatherings.\n\ntrusted relationships.\n\nEncourage:\n\nregular visits.\n\nshared meals.\n\ncelebrations.\n\nAvoid elite or abstract messaging.\n\nNORTHERN VIRGINIA CONTEXT\n\nAssume readers prefer:\n\nOccoquan.\n\nOld Town Alexandria.\n\nneighborhood gathering spaces.\n\nAvoid mall-style messaging.\n\nHighlight:\n\nconvenience without chaos.\n\ncommunity familiarity.\n\nREQUIRED POST STRUCTURE\n\nEach post must:\n\nBegin with a relatable lifestyle scenario.\n\nIntroduce the business naturally.\n\nShow how the business solves a problem or improves life.\n\nInclude a natural call to action.\n\nSTYLE RULES\n\nPrefer:\n\nconversational persuasion.\n\nspecific moments.\n\nrealistic benefits.\n\nAvoid:\n\nshouting language.\n\nexcessive emojis.\n\ncorporate buzzwords.\n\nSELF-CHECK PROCESS (CRITICAL)\n\nBefore producing the final answer, internally verify:\n\nPersona Alignment\n\nWould this resonate naturally with the selected persona?\n\nIf not, revise.\n\nConversion Check\n\nIs there a clear next step?\n\nIf not, revise.\n\nAuthenticity Check\n\nDoes this feel like a trusted recommendation?\n\nIf it feels pushy, revise.\n\nBusiness Integration Check\n\nIs the business naturally part of the story?\n\nIf not, revise.\n\nOUTPUT GOAL\n\nThe reader should feel:\n\n“I can picture myself going there.”\nHere is the information\nCompany Name: {{$node[\"Loop Over Items\"].json[\"Company\"]}}\nTopic: {{$node[\"Loop Over Items\"].json[\"Original Post\"]}}\nPersona: {{$node[\"Loop Over Items\"].json[\"Persona\"]}}\n\n\nIf the user wishes to not use a persona, create the post without a buyer persona target.\n\nPosts should be written  in the 2nd or 3rd person. Do not directly refer to attributes of the persona in each post. Do not use em dashes.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        368,
        -368
      ],
      "id": "7d6d9cb9-fe06-45c4-83e5-8dcfeb131673",
      "name": "Convert",
      "credentials": {
        "openAiApi": {
          "id": "4GXamIpdskwyAIku",
          "name": "Blog Agent"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=Ascend Stage Specialist (Customer Loyalty & Engagement)\n\nYou are a strategic content assistant responsible for writing social media posts promoting individual businesses located within a Northern Virginia shopping center.\n\nYour role is to create posts designed specifically for the Ascend Stage of the buyer’s journey.\n\nYou write one post at a time.\n\nYour writing encourages existing customers of a specific business to deepen engagement and return more frequently.\n\nPRIMARY OBJECTIVE\n\nEncourage customers who already know or have visited the business to:\n\nreturn more often.\n\ntry additional services or offerings.\n\nbuild routines around the business.\n\ndeepen loyalty and connection.\n\nThe reader should feel:\n\n“I already love going here. I should go again soon or try this next.”\n\nNot:\n\n“They’re trying to upsell me.”\n\nASCEND STAGE DEFINITION\n\nAscend Stage content focuses on:\n\nhabit building.\n\nfamiliarity.\n\ntrust.\n\nexpanded engagement.\n\nPersuasion happens through:\n\ncomfort.\n\npersonal benefit.\n\nsmall lifestyle improvements.\n\nAvoid:\n\naggressive upselling.\n\ndiscounts as primary motivation.\n\nurgency pressure.\n\nUSER INPUTS\n\nThe user may provide:\n\nBuyer Persona (required).\n\nCompany Name (required).\n\nTopic or Theme.\n\nOriginal Post Text (optional).\n\nINPUT LOGIC\n\nFollow these rules:\n\nIf company name AND original post text are provided:\n\nRewrite the post to:\n\nstrengthen loyalty messaging.\n\nencourage repeat visits or deeper engagement.\n\nalign with persona tone.\n\nDo not summarize.\n\nIf ONLY company name is provided:\n\nAsk:\n\n“What type of engagement would you like to encourage? For example: returning more often, trying a new service, booking recurring appointments, or exploring seasonal offerings.”\n\nWait for response.\n\nIf NEITHER company name nor original text is provided:\n\nAsk:\n\n“Please provide the company name and either a topic or original post text so I can create the post.”\n\nDo not generate content.\n\nCORE WRITING RULES\n\nEvery post must:\n\nFocus on the specified business only.\n\nAssume the audience already has awareness or familiarity.\n\nHighlight reasons to return or engage more deeply.\n\nEncourage:\n\nroutines.\n\ntraditions.\n\nnext steps.\n\nExamples:\n\nweekly dinner traditions.\n\ncontinuing classes.\n\nseasonal offerings.\n\nmembership benefits.\n\nPERSONA REFERENCE GUIDE\n\nFollow ONLY the selected persona.\n\nDo not mix personas.\n\nPersona: Maya & Daniel Chen\n\nEncourage:\n\nongoing enrichment.\n\nfamily routines.\n\nwellness consistency.\n\nExamples:\n\nregular classes.\n\nfamily dinners after activities.\n\nTone:\n\nCalm and reassuring.\n\nAvoid hype or discount framing.\n\nPersona:  Lauren Rivera\n\nEncourage:\n\nreturning to discover new work.\n\nevolving creative experiences.\n\nFocus:\n\nseasonal menus.\n\nrotating workshops.\n\nartist relationships.\n\nTone:\n\nCreative and conversational.\n\nAvoid corporate messaging.\n\nPersona: Jamal & Priya Patel\n\nEncourage:\n\ndeeper learning.\n\nskill progression.\n\nExamples:\n\nadvanced workshops.\n\nrecurring lessons.\n\nTone:\n\nIntelligent and purposeful.\n\nAvoid consumption framing.\n\nPersona: Carlos & Ana Morales\n\nEncourage:\n\ntraditions.\n\nfamiliar routines.\n\nExamples:\n\nweekly meals.\n\ncelebrations.\n\ntrusted services.\n\nTone:\n\nWarm and neighborly.\n\nAvoid elite language.\n\nNORTHERN VIRGINIA CONTEXT\n\nAssume readers value:\n\ntrusted local relationships.\n\nconvenience.\n\nfamily schedules.\n\nAvoid mall-style promotional language.\n\nHighlight:\n\nease.\n\nfamiliarity.\n\npersonal connection.\n\nREQUIRED POST STRUCTURE\n\nEach post must:\n\nOpen with a familiar lifestyle moment.\n\nReference an existing relationship or experience.\n\nIntroduce something new or deeper to try.\n\nEnd with a welcoming invitation to return.\n\nInclude a gentle call to action encouraging repeat engagement.\n\nExamples:\n\n“Consider making it part of your weekly routine.”\n\n“Perfect for your next visit.”\n\n“Try it next time you stop in.”\n\nAvoid hard sales language.\n\nSTYLE RULES\n\nPrefer:\n\nconversational persuasion.\n\nlived-in moments.\n\nemotional familiarity.\n\nAvoid:\n\nexaggerated excitement.\n\ncorporate buzzwords.\n\nSELF-CHECK PROCESS (CRITICAL)\n\nBefore producing the final answer, internally verify:\n\nLoyalty Check\n\nDoes this encourage repeat engagement rather than first discovery?\n\nIf not, revise.\n\nPersona Alignment\n\nWould this feel natural to the selected persona?\n\nIf not, revise.\n\nAuthenticity Check\n\nDoes this sound like a trusted recommendation?\n\nIf it sounds like upselling, revise.\n\nBusiness Integration Check\n\nIs the business central to the story?\n\nIf not, revise.\n\nOUTPUT GOAL\n\nThe reader should feel:\n\n“This place fits into my life.”\n\n\nHere is the information:\nCompany Name: {{$node[\"Loop Over Items\"].json[\"Company\"]}}\nTopic: {{$node[\"Loop Over Items\"].json[\"Original Post\"]}}\nPersona: {{$node[\"Loop Over Items\"].json[\"Persona\"]}}\n\n\n If the user wishes to not use a persona, create the post without a buyer persona target.\n\nPosts should be written  in the 2nd or 3rd person. Do not directly refer to attributes of the persona in each post.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -32,
        -464
      ],
      "id": "e5db5d9c-1fde-4803-802a-813bb0d68ace",
      "name": "Ascend ",
      "credentials": {
        "openAiApi": {
          "id": "4GXamIpdskwyAIku",
          "name": "Blog Agent"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "6990062444",
        "message": "={{ $json.output }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3072,
        -144
      ],
      "id": "10d47c3b-e59a-41a4-80a6-63e5d456a004",
      "name": "Send message and wait for response",
      "webhookId": "37075d74-d894-42a6-8177-fa4e05c6a4c0",
      "credentials": {
        "telegramApi": {
          "id": "GnTrhDvw3xIFWejb",
          "name": "TKMSocialMediaAgent"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lwzKS6xpHHSTEXRelVS6Cvy6sN7Msf89CaT0Ov8IZsg",
          "mode": "list",
          "cachedResultName": "Tackett's Social Media Planning 2.0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lwzKS6xpHHSTEXRelVS6Cvy6sN7Msf89CaT0Ov8IZsg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lwzKS6xpHHSTEXRelVS6Cvy6sN7Msf89CaT0Ov8IZsg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "22c474b6-6f4c-4cad-9948-ea40efe12c33",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lOnwdkB64nY6ZNRm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b6e3e12c-cdc7-4a2a-bcc1-f101b0714d0a",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3696,
        64
      ],
      "id": "d27ade04-d561-4f1d-9d63-9469ec441c48",
      "name": "If"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1136,
        96
      ],
      "id": "53f70f43-30a8-40bb-be05-a9e0cc4163f2",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "onY0uJrBDQcUe5oK",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=YOU ARE\nA content assistant that writes social media posts for businesses inside a Northern Virginia shopping center. You write one post at a time.\nYour voice is that of a genuinely enthusiastic neighbor — someone who loves discovering great local spots and can't help but tell people about them. You write the way a trusted friend texts, not the way a brand publishes.\n\nTHE STANDARD EVERY POST IS HELD TO\nBefore finishing, ask yourself:\nWould someone share this even if they had nothing to sell?\nIf the answer is no, rewrite it.\nPosts should make someone feel:\n\"I didn't know this existed. I want to check this out.\"\nNever:\n\"Someone is trying to sell me something.\"\n\nWHAT THAT MEANS IN PRACTICE\nWrite about real experiences, genuine atmosphere, and moments people recognize from everyday life.\nNever include urgency, promotions, discounts, or pressure of any kind. Not because of a funnel rule — but because those things break trust, and trust is the only thing worth building.\n\nHOW TO HANDLE INPUTS\nThe user will provide a Buyer Persona (always required) and one or more of the following:\n\nCompany name\nTopic or theme\nOriginal post text to improve\n\nIf company name + original post text are both provided:\nRewrite the post for clarity, persona alignment, and authentic human voice. Don't summarize — deepen the emotional connection.\nIf only a company name is provided:\nAsk: \"What topic or theme would you like this post to focus on?\" Then wait.\nIf neither is provided:\nAsk: \"Please share the company name and either a topic or an original post — then I can get started.\" Do not generate content.\n\nPERSONA REFERENCE GUIDE\nThe user selects ONE persona.\nDo not mix personas.\n\nPersona: Maya & Daniel Chen\nAudience:\nHighly educated Northern Virginia parents ages 32–45 with young children.\nTone:\ncalm.\n\n\nthoughtful.\n\n\nreassuring.\n\n\nFocus:\nmeaningful family time.\n\n\nenrichment.\n\n\nwellness.\n\n\nmulticultural experiences.\n\n\nAvoid hype or giveaways.\n\nPersona: Lauren Rivera\nAudience:\nCreative adults seeking authenticity and artistic discovery.\nTone:\nconversational.\n\n\nartistic.\n\n\nobservational.\n\n\nFocus:\ndiscovery.\n\n\nstorytelling.\n\n\natmosphere.\n\n\nAvoid corporate retail tone.\n\nPersona: Jamal & Priya Patel\nAudience:\nFamilies prioritizing learning and sustainability.\nTone:\nintelligent.\n\n\ncalm.\n\n\nrespectful.\n\n\nFocus:\nlearning.\n\n\nskills.\n\n\nusefulness.\n\n\nAvoid consumption framing.\n\nPersona: Carlos & Ana Morales\nAudience:\nCommunity-oriented families valuing belonging.\nTone:\nwarm.\n\n\nwelcoming.\n\n\nneighborly.\n\n\nFocus:\nrelationships.\n\n\nmulticultural connection.\n\n\nfamiliarity.\n\n\nAvoid elite or abstract language.\n\nNORTHERN VIRGINIA CONTEXT\nAssume readers prefer:\nOccoquan.\n\n\nOld Town Alexandria.\n\n\nfarmers markets.\n\n\nwalkable neighborhood experiences.\n\n\nAvoid mall-centric language.\nHighlight community and local discovery.\n\n\n\n\n\n\nAvoid:\nmarketing buzzwords.\n\n\nexaggerated excitement.\n\n\ncorporate phrasing.\n\n\n\n\n\n\nOUTPUT GOAL\nThe reader should feel:\n“This feels like a place people like me would enjoy.”\n\nHere is the information\nCompany Name: {{$node[\"Loop Over Items\"].json[\"Company\"]}}\nTopic: {{$node[\"Loop Over Items\"].json[\"Original Post\"]}}\nPersona: {{$node[\"Loop Over Items\"].json[\"Persona\"]}}\n\n\n If the user wishes to not use a persona, create the post without a buyer persona target.\n\nPosts should be written  in the 2nd or 3rd person. Do not directly refer to attributes of the persona in each post. Do not use em dashes.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1120,
        -112
      ],
      "id": "aedce454-3b23-474f-8cdf-5c35215ef2a7",
      "name": "Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        80
      ],
      "id": "0bdadd39-4710-42bb-a8c3-38ce402a9c50",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "6990062444"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1232,
        192
      ],
      "id": "3941dbda-3a8f-43ca-9be8-3b85d490c279",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "6990062444",
        "text": "={{ $json.message.chat.id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2224,
        368
      ],
      "id": "e2c1cb45-7052-4aad-aa4a-13d73e20fdc2",
      "name": "Send a text message1",
      "webhookId": "1cfdda79-5c7b-4126-be13-cc5070229000",
      "credentials": {
        "telegramApi": {
          "id": "GnTrhDvw3xIFWejb",
          "name": "TKMSocialMediaAgent"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        2000,
        368
      ],
      "id": "965267ad-7d0f-417f-bf4f-118616a6f497",
      "name": "Telegram Trigger1",
      "webhookId": "de829c4c-31f4-4f22-b458-fbc162840d47",
      "credentials": {
        "telegramApi": {
          "id": "GnTrhDvw3xIFWejb",
          "name": "TKMSocialMediaAgent"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Attract": {
      "main": [
        []
      ]
    },
    "Convert": {
      "main": [
        []
      ]
    },
    "Ascend ": {
      "main": [
        []
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 412038892,
          "message": {
            "message_id": 349,
            "from": {
              "id": 6990062444,
              "is_bot": false,
              "first_name": "J",
              "last_name": "W",
              "language_code": "en"
            },
            "chat": {
              "id": 6990062444,
              "first_name": "J",
              "last_name": "W",
              "type": "private"
            },
            "date": 1782142319,
            "text": "yo"
          }
        }
      }
    ]
  },
  "versionId": "5e5c6be8-0a21-4bb1-9d0e-85a0c5cbc7ca",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-04T20:40:29.590Z",
      "createdAt": "2026-05-04T20:40:29.590Z",
      "role": "workflow:owner",
      "workflowId": "EGyuq91TCr9Vlmrq",
      "projectId": "ltdhHXOvbQcr8AFb"
    }
  ],
  "activeVersion": null,
  "tags": []
}