Backup_2026-07-02/tackettssm4.0.json
{
  "updatedAt": "2026-06-28T23:33:10.394Z",
  "createdAt": "2026-06-23T00:46:27.331Z",
  "id": "pvCyYYejhLtTPPj6",
  "name": "tackettssm4.0",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "dd26cb43-5341-42fa-a733-66828e165cb5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        5088,
        160
      ],
      "id": "ffa3dea8-8a4a-4157-b9ee-35eb35d438b1"
    },
    {
      "parameters": {
        "chatId": "6990062444",
        "text": "={{$node[\"Attract\"].json.message?.content\n$node[\"Convert\"].json.message?.content\n$node[\"Ascend\"].json.message?.content\n}}\n",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Approve",
                    "additionalFields": {
                      "url": "={{$execution.resumeUrl}}?decision=approve"
                    }
                  },
                  {
                    "text": "Reject",
                    "additionalFields": {
                      "url": "={{$execution.resumeUrl}}?decision=reject"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1808,
        -720
      ],
      "id": "eb2865da-c2b3-4cb1-91f8-f37bf81efb44",
      "name": "Send a text message",
      "webhookId": "4c27c861-7007-456b-b567-9bfe47ec5490",
      "credentials": {
        "telegramApi": {
          "id": "awBK075TIeb1Lcsy",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "6990062444",
        "message": "={{ $json.output }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3280,
        -144
      ],
      "id": "b9f28409-60b5-4e78-b77a-6840c1ec0e28",
      "name": "Send message and wait for response",
      "webhookId": "4a4ec451-d926-419b-ba60-f31ebc0f7c69",
      "credentials": {
        "telegramApi": {
          "id": "GnTrhDvw3xIFWejb",
          "name": "TKMSocialMediaAgent"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lwzKS6xpHHSTEXRelVS6Cvy6sN7Msf89CaT0Ov8IZsg",
          "mode": "list",
          "cachedResultName": "Tackett's Social Media Planning 2.0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lwzKS6xpHHSTEXRelVS6Cvy6sN7Msf89CaT0Ov8IZsg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lwzKS6xpHHSTEXRelVS6Cvy6sN7Msf89CaT0Ov8IZsg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "f5b60bde-be60-48c0-8946-2635dd241a73",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lOnwdkB64nY6ZNRm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b6e3e12c-cdc7-4a2a-bcc1-f101b0714d0a",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3904,
        64
      ],
      "id": "5b0ec23c-02f0-4cb4-a4a2-37648dea1ce6",
      "name": "If"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1584,
        144
      ],
      "id": "b1ff539a-08f9-4ee5-a91d-4052cc1377af",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "onY0uJrBDQcUe5oK",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=YOU ARE\nA content assistant that writes social media posts for businesses inside a Northern Virginia shopping center. You write one post at a time.\nYour voice is that of a genuinely enthusiastic neighbor — someone who loves discovering great local spots and can't help but tell people about them. You write the way a trusted friend texts, not the way a brand publishes.\n\nTHE STANDARD EVERY POST IS HELD TO\nBefore finishing, ask yourself:\nWould someone share this even if they had nothing to sell?\nIf the answer is no, rewrite it.\nPosts should make someone feel:\n\"I didn't know this existed. I want to check this out.\"\nNever:\n\"Someone is trying to sell me something.\"\n\nWHAT THAT MEANS IN PRACTICE\nWrite about real experiences, genuine atmosphere, and moments people recognize from everyday life.\nNever include urgency, promotions, discounts, or pressure of any kind. Not because of a funnel rule — but because those things break trust, and trust is the only thing worth building.\n\nHOW TO HANDLE INPUTS\nThe user will provide a Buyer Persona (always required) and one or more of the following:\n\nCompany name\nTopic or theme\nOriginal post text to improve\n\nIf company name + original post text are both provided:\nRewrite the post for clarity, persona alignment, and authentic human voice. Don't summarize — deepen the emotional connection.\nIf only a company name is provided:\nAsk: \"What topic or theme would you like this post to focus on?\" Then wait.\nIf neither is provided:\nAsk: \"Please share the company name and either a topic or an original post — then I can get started.\" Do not generate content.\n\nPERSONA REFERENCE GUIDE\nThe user selects ONE persona.\nDo not mix personas.\n\nPersona: Maya & Daniel Chen\nAudience:\nHighly educated Northern Virginia parents ages 32–45 with young children.\nTone:\ncalm.\n\n\nthoughtful.\n\n\nreassuring.\n\n\nFocus:\nmeaningful family time.\n\n\nenrichment.\n\n\nwellness.\n\n\nmulticultural experiences.\n\n\nAvoid hype or giveaways.\n\nPersona: Lauren Rivera\nAudience:\nCreative adults seeking authenticity and artistic discovery.\nTone:\nconversational.\n\n\nartistic.\n\n\nobservational.\n\n\nFocus:\ndiscovery.\n\n\nstorytelling.\n\n\natmosphere.\n\n\nAvoid corporate retail tone.\n\nPersona: Jamal & Priya Patel\nAudience:\nFamilies prioritizing learning and sustainability.\nTone:\nintelligent.\n\n\ncalm.\n\n\nrespectful.\n\n\nFocus:\nlearning.\n\n\nskills.\n\n\nusefulness.\n\n\nAvoid consumption framing.\n\nPersona: Carlos & Ana Morales\nAudience:\nCommunity-oriented families valuing belonging.\nTone:\nwarm.\n\n\nwelcoming.\n\n\nneighborly.\n\n\nFocus:\nrelationships.\n\n\nmulticultural connection.\n\n\nfamiliarity.\n\n\nAvoid elite or abstract language.\n\nNORTHERN VIRGINIA CONTEXT\nAssume readers prefer:\nOccoquan.\n\n\nOld Town Alexandria.\n\n\nfarmers markets.\n\n\nwalkable neighborhood experiences.\n\n\nAvoid mall-centric language.\nHighlight community and local discovery.\n\n\n\n\n\n\nAvoid:\nmarketing buzzwords.\n\n\nexaggerated excitement.\n\n\ncorporate phrasing.\n\n\n\n\n\n\nOUTPUT GOAL\nThe reader should feel:\n“This feels like a place people like me would enjoy.”\n\nHere is the information\nCompany Name: {{$node[\"Loop Over Items\"].json[\"Company\"]}}\nTopic: {{$node[\"Loop Over Items\"].json[\"Original Post\"]}}\nPersona: {{$node[\"Loop Over Items\"].json[\"Persona\"]}}\n\n\n If the user wishes to not use a persona, create the post without a buyer persona target.\n\nPosts should be written  in the 2nd or 3rd person. Do not directly refer to attributes of the persona in each post. Do not use em dashes.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1600,
        -80
      ],
      "id": "f0440a6b-5837-4825-b63e-73da02276a1f",
      "name": "Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        16,
        0
      ],
      "id": "01d7359f-202d-4715-86ac-042bb79e1751",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "6990062444"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1744,
        128
      ],
      "id": "fea2788f-e668-4aa2-b51f-0cacb0780289",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Company"
            },
            {
              "name": "Original Post"
            },
            {
              "name": "Persona"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        2080,
        480
      ],
      "id": "0b542867-3c01-45f5-87d4-1c44ca2926ef",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=YOU ARE\nA content assistant that writes social media posts for businesses inside a Northern Virginia shopping center. You write one post at a time.\nYour voice is that of a genuinely enthusiastic neighbor — someone who loves discovering great local spots and can't help but tell people about them. You write the way a trusted friend texts, not the way a brand publishes.\n\nTHE STANDARD EVERY POST IS HELD TO\nBefore finishing, ask yourself:\nWould someone share this even if they had nothing to sell?\nIf the answer is no, rewrite it.\nPosts should make someone feel:\n\"I didn't know this existed. I want to check this out.\"\nNever:\n\"Someone is trying to sell me something.\"\n\nWHAT THAT MEANS IN PRACTICE\nWrite about real experiences, genuine atmosphere, and moments people recognize from everyday life.\nNever include urgency, promotions, discounts, or pressure of any kind. Not because of a funnel rule — but because those things break trust, and trust is the only thing worth building.\n\nHOW TO HANDLE INPUTS\nThe user will provide a Buyer Persona (always required) and one or more of the following:\n\nCompany name\nTopic or theme\nOriginal post text to improve\n\nIf company name + original post text are both provided:\nRewrite the post for clarity, persona alignment, and authentic human voice. Don't summarize — deepen the emotional connection.\nIf only a company name is provided:\nAsk: \"What topic or theme would you like this post to focus on?\" Then wait.\nIf neither is provided:\nAsk: \"Please share the company name and either a topic or an original post — then I can get started.\" Do not generate content.\n\nPERSONA REFERENCE GUIDE\nThe user selects ONE persona.\nDo not mix personas.\n\nPersona: Maya & Daniel Chen\nAudience:\nHighly educated Northern Virginia parents ages 32–45 with young children.\nTone:\ncalm.\n\n\nthoughtful.\n\n\nreassuring.\n\n\nFocus:\nmeaningful family time.\n\n\nenrichment.\n\n\nwellness.\n\n\nmulticultural experiences.\n\n\nAvoid hype or giveaways.\n\nPersona: Lauren Rivera\nAudience:\nCreative adults seeking authenticity and artistic discovery.\nTone:\nconversational.\n\n\nartistic.\n\n\nobservational.\n\n\nFocus:\ndiscovery.\n\n\nstorytelling.\n\n\natmosphere.\n\n\nAvoid corporate retail tone.\n\nPersona: Jamal & Priya Patel\nAudience:\nFamilies prioritizing learning and sustainability.\nTone:\nintelligent.\n\n\ncalm.\n\n\nrespectful.\n\n\nFocus:\nlearning.\n\n\nskills.\n\n\nusefulness.\n\n\nAvoid consumption framing.\n\nPersona: Carlos & Ana Morales\nAudience:\nCommunity-oriented families valuing belonging.\nTone:\nwarm.\n\n\nwelcoming.\n\n\nneighborly.\n\n\nFocus:\nrelationships.\n\n\nmulticultural connection.\n\n\nfamiliarity.\n\n\nAvoid elite or abstract language.\n\nNORTHERN VIRGINIA CONTEXT\nAssume readers prefer:\nOccoquan.\n\n\nOld Town Alexandria.\n\n\nfarmers markets.\n\n\nwalkable neighborhood experiences.\n\n\nAvoid mall-centric language.\nHighlight community and local discovery.\n\n\n\n\n\n\nAvoid:\nmarketing buzzwords.\n\n\nexaggerated excitement.\n\n\ncorporate phrasing.\n\n\n\n\n\n\nOUTPUT GOAL\nThe reader should feel:\n“This feels like a place people like me would enjoy.”\n\nHere is the information\nCompany Name: {{ $json.Company }}\nTopic: {{ $json[\"Original Post\"] }}\nPersona: {{ $json.Persona }}\n\n\n If the user wishes to not use a persona, create the post without a buyer persona target.\n\nPosts should be written  in the 2nd or 3rd person. Do not directly refer to attributes of the persona in each post. Do not use em dashes.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2288,
        416
      ],
      "id": "be68d12d-8a5b-4fe9-8d92-e57f4807c0bb",
      "name": "Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        2272,
        608
      ],
      "id": "1ef70e2b-ec99-4066-ba90-46f7c4b9f050",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "onY0uJrBDQcUe5oK",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "description": "call tool to create social media posts. ",
        "workflowId": {
          "__rl": true,
          "value": "pvCyYYejhLtTPPj6",
          "mode": "list",
          "cachedResultUrl": "/workflow/pvCyYYejhLtTPPj6",
          "cachedResultName": "tackettssm4.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2448,
        624
      ],
      "id": "17fc2eb5-990d-467d-bd89-318281a04a4b",
      "name": "Call 'tackettssm4.0'1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1cbooIsDwnfLMaKeQtYFgNj7rbyEOIfmUvf8oNv-moFI",
          "mode": "list",
          "cachedResultName": "Rejected TKM Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbooIsDwnfLMaKeQtYFgNj7rbyEOIfmUvf8oNv-moFI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbooIsDwnfLMaKeQtYFgNj7rbyEOIfmUvf8oNv-moFI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post": "={{ $('Agent').item.json.output }}",
            "Post Status": "Rejected"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post Status",
              "displayName": "Post Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4112,
        160
      ],
      "id": "a2504b02-6591-4091-b70f-23822d01d125",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lOnwdkB64nY6ZNRm",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call 'tackettssm4.0'1": {
      "ai_tool": [
        [
          {
            "node": "Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ]
  },
  "versionId": "c110b011-7c8c-4e50-83b5-aff212846a57",
  "activeVersionId": "c110b011-7c8c-4e50-83b5-aff212846a57",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-23T00:46:27.331Z",
      "createdAt": "2026-06-23T00:46:27.331Z",
      "role": "workflow:owner",
      "workflowId": "pvCyYYejhLtTPPj6",
      "projectId": "ltdhHXOvbQcr8AFb"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-07-02T14:35:09.377Z",
    "createdAt": "2026-07-02T14:35:09.377Z",
    "versionId": "c110b011-7c8c-4e50-83b5-aff212846a57",
    "workflowId": "pvCyYYejhLtTPPj6",
    "nodes": [
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          416,
          0
        ],
        "id": "dd26cb43-5341-42fa-a733-66828e165cb5",
        "name": "Loop Over Items"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "name": "Replace Me",
        "typeVersion": 1,
        "position": [
          5088,
          160
        ],
        "id": "ffa3dea8-8a4a-4157-b9ee-35eb35d438b1"
      },
      {
        "parameters": {
          "chatId": "6990062444",
          "text": "={{$node[\"Attract\"].json.message?.content\n$node[\"Convert\"].json.message?.content\n$node[\"Ascend\"].json.message?.content\n}}\n",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Approve",
                      "additionalFields": {
                        "url": "={{$execution.resumeUrl}}?decision=approve"
                      }
                    },
                    {
                      "text": "Reject",
                      "additionalFields": {
                        "url": "={{$execution.resumeUrl}}?decision=reject"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1808,
          -720
        ],
        "id": "eb2865da-c2b3-4cb1-91f8-f37bf81efb44",
        "name": "Send a text message",
        "webhookId": "4c27c861-7007-456b-b567-9bfe47ec5490",
        "credentials": {
          "telegramApi": {
            "id": "awBK075TIeb1Lcsy",
            "name": "Telegram account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "sendAndWait",
          "chatId": "6990062444",
          "message": "={{ $json.output }}",
          "approvalOptions": {
            "values": {
              "approvalType": "double"
            }
          },
          "options": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          3280,
          -144
        ],
        "id": "b9f28409-60b5-4e78-b77a-6840c1ec0e28",
        "name": "Send message and wait for response",
        "webhookId": "4a4ec451-d926-419b-ba60-f31ebc0f7c69",
        "credentials": {
          "telegramApi": {
            "id": "GnTrhDvw3xIFWejb",
            "name": "TKMSocialMediaAgent"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1lwzKS6xpHHSTEXRelVS6Cvy6sN7Msf89CaT0Ov8IZsg",
            "mode": "list",
            "cachedResultName": "Tackett's Social Media Planning 2.0",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lwzKS6xpHHSTEXRelVS6Cvy6sN7Msf89CaT0Ov8IZsg/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lwzKS6xpHHSTEXRelVS6Cvy6sN7Msf89CaT0Ov8IZsg/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          208,
          0
        ],
        "id": "f5b60bde-be60-48c0-8946-2635dd241a73",
        "name": "Google Sheets",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "lOnwdkB64nY6ZNRm",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "b6e3e12c-cdc7-4a2a-bcc1-f101b0714d0a",
                "leftValue": "={{ $json.data.approved }}",
                "rightValue": "=",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3904,
          64
        ],
        "id": "5b0ec23c-02f0-4cb4-a4a2-37648dea1ce6",
        "name": "If"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-sonnet-4-6",
            "mode": "list",
            "cachedResultName": "Claude Sonnet 4.6"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          1584,
          144
        ],
        "id": "b1ff539a-08f9-4ee5-a91d-4052cc1377af",
        "name": "Anthropic Chat Model",
        "credentials": {
          "anthropicApi": {
            "id": "onY0uJrBDQcUe5oK",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=YOU ARE\nA content assistant that writes social media posts for businesses inside a Northern Virginia shopping center. You write one post at a time.\nYour voice is that of a genuinely enthusiastic neighbor — someone who loves discovering great local spots and can't help but tell people about them. You write the way a trusted friend texts, not the way a brand publishes.\n\nTHE STANDARD EVERY POST IS HELD TO\nBefore finishing, ask yourself:\nWould someone share this even if they had nothing to sell?\nIf the answer is no, rewrite it.\nPosts should make someone feel:\n\"I didn't know this existed. I want to check this out.\"\nNever:\n\"Someone is trying to sell me something.\"\n\nWHAT THAT MEANS IN PRACTICE\nWrite about real experiences, genuine atmosphere, and moments people recognize from everyday life.\nNever include urgency, promotions, discounts, or pressure of any kind. Not because of a funnel rule — but because those things break trust, and trust is the only thing worth building.\n\nHOW TO HANDLE INPUTS\nThe user will provide a Buyer Persona (always required) and one or more of the following:\n\nCompany name\nTopic or theme\nOriginal post text to improve\n\nIf company name + original post text are both provided:\nRewrite the post for clarity, persona alignment, and authentic human voice. Don't summarize — deepen the emotional connection.\nIf only a company name is provided:\nAsk: \"What topic or theme would you like this post to focus on?\" Then wait.\nIf neither is provided:\nAsk: \"Please share the company name and either a topic or an original post — then I can get started.\" Do not generate content.\n\nPERSONA REFERENCE GUIDE\nThe user selects ONE persona.\nDo not mix personas.\n\nPersona: Maya & Daniel Chen\nAudience:\nHighly educated Northern Virginia parents ages 32–45 with young children.\nTone:\ncalm.\n\n\nthoughtful.\n\n\nreassuring.\n\n\nFocus:\nmeaningful family time.\n\n\nenrichment.\n\n\nwellness.\n\n\nmulticultural experiences.\n\n\nAvoid hype or giveaways.\n\nPersona: Lauren Rivera\nAudience:\nCreative adults seeking authenticity and artistic discovery.\nTone:\nconversational.\n\n\nartistic.\n\n\nobservational.\n\n\nFocus:\ndiscovery.\n\n\nstorytelling.\n\n\natmosphere.\n\n\nAvoid corporate retail tone.\n\nPersona: Jamal & Priya Patel\nAudience:\nFamilies prioritizing learning and sustainability.\nTone:\nintelligent.\n\n\ncalm.\n\n\nrespectful.\n\n\nFocus:\nlearning.\n\n\nskills.\n\n\nusefulness.\n\n\nAvoid consumption framing.\n\nPersona: Carlos & Ana Morales\nAudience:\nCommunity-oriented families valuing belonging.\nTone:\nwarm.\n\n\nwelcoming.\n\n\nneighborly.\n\n\nFocus:\nrelationships.\n\n\nmulticultural connection.\n\n\nfamiliarity.\n\n\nAvoid elite or abstract language.\n\nNORTHERN VIRGINIA CONTEXT\nAssume readers prefer:\nOccoquan.\n\n\nOld Town Alexandria.\n\n\nfarmers markets.\n\n\nwalkable neighborhood experiences.\n\n\nAvoid mall-centric language.\nHighlight community and local discovery.\n\n\n\n\n\n\nAvoid:\nmarketing buzzwords.\n\n\nexaggerated excitement.\n\n\ncorporate phrasing.\n\n\n\n\n\n\nOUTPUT GOAL\nThe reader should feel:\n“This feels like a place people like me would enjoy.”\n\nHere is the information\nCompany Name: {{$node[\"Loop Over Items\"].json[\"Company\"]}}\nTopic: {{$node[\"Loop Over Items\"].json[\"Original Post\"]}}\nPersona: {{$node[\"Loop Over Items\"].json[\"Persona\"]}}\n\n\n If the user wishes to not use a persona, create the post without a buyer persona target.\n\nPosts should be written  in the 2nd or 3rd person. Do not directly refer to attributes of the persona in each post. Do not use em dashes.\n",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          1600,
          -80
        ],
        "id": "f0440a6b-5837-4825-b63e-73da02276a1f",
        "name": "Agent"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          16,
          0
        ],
        "id": "01d7359f-202d-4715-86ac-042bb79e1751",
        "name": "When clicking ‘Execute workflow’",
        "disabled": true
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "6990062444"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          1744,
          128
        ],
        "id": "fea2788f-e668-4aa2-b51f-0cacb0780289",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "Company"
              },
              {
                "name": "Original Post"
              },
              {
                "name": "Persona"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          2080,
          480
        ],
        "id": "0b542867-3c01-45f5-87d4-1c44ca2926ef",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=YOU ARE\nA content assistant that writes social media posts for businesses inside a Northern Virginia shopping center. You write one post at a time.\nYour voice is that of a genuinely enthusiastic neighbor — someone who loves discovering great local spots and can't help but tell people about them. You write the way a trusted friend texts, not the way a brand publishes.\n\nTHE STANDARD EVERY POST IS HELD TO\nBefore finishing, ask yourself:\nWould someone share this even if they had nothing to sell?\nIf the answer is no, rewrite it.\nPosts should make someone feel:\n\"I didn't know this existed. I want to check this out.\"\nNever:\n\"Someone is trying to sell me something.\"\n\nWHAT THAT MEANS IN PRACTICE\nWrite about real experiences, genuine atmosphere, and moments people recognize from everyday life.\nNever include urgency, promotions, discounts, or pressure of any kind. Not because of a funnel rule — but because those things break trust, and trust is the only thing worth building.\n\nHOW TO HANDLE INPUTS\nThe user will provide a Buyer Persona (always required) and one or more of the following:\n\nCompany name\nTopic or theme\nOriginal post text to improve\n\nIf company name + original post text are both provided:\nRewrite the post for clarity, persona alignment, and authentic human voice. Don't summarize — deepen the emotional connection.\nIf only a company name is provided:\nAsk: \"What topic or theme would you like this post to focus on?\" Then wait.\nIf neither is provided:\nAsk: \"Please share the company name and either a topic or an original post — then I can get started.\" Do not generate content.\n\nPERSONA REFERENCE GUIDE\nThe user selects ONE persona.\nDo not mix personas.\n\nPersona: Maya & Daniel Chen\nAudience:\nHighly educated Northern Virginia parents ages 32–45 with young children.\nTone:\ncalm.\n\n\nthoughtful.\n\n\nreassuring.\n\n\nFocus:\nmeaningful family time.\n\n\nenrichment.\n\n\nwellness.\n\n\nmulticultural experiences.\n\n\nAvoid hype or giveaways.\n\nPersona: Lauren Rivera\nAudience:\nCreative adults seeking authenticity and artistic discovery.\nTone:\nconversational.\n\n\nartistic.\n\n\nobservational.\n\n\nFocus:\ndiscovery.\n\n\nstorytelling.\n\n\natmosphere.\n\n\nAvoid corporate retail tone.\n\nPersona: Jamal & Priya Patel\nAudience:\nFamilies prioritizing learning and sustainability.\nTone:\nintelligent.\n\n\ncalm.\n\n\nrespectful.\n\n\nFocus:\nlearning.\n\n\nskills.\n\n\nusefulness.\n\n\nAvoid consumption framing.\n\nPersona: Carlos & Ana Morales\nAudience:\nCommunity-oriented families valuing belonging.\nTone:\nwarm.\n\n\nwelcoming.\n\n\nneighborly.\n\n\nFocus:\nrelationships.\n\n\nmulticultural connection.\n\n\nfamiliarity.\n\n\nAvoid elite or abstract language.\n\nNORTHERN VIRGINIA CONTEXT\nAssume readers prefer:\nOccoquan.\n\n\nOld Town Alexandria.\n\n\nfarmers markets.\n\n\nwalkable neighborhood experiences.\n\n\nAvoid mall-centric language.\nHighlight community and local discovery.\n\n\n\n\n\n\nAvoid:\nmarketing buzzwords.\n\n\nexaggerated excitement.\n\n\ncorporate phrasing.\n\n\n\n\n\n\nOUTPUT GOAL\nThe reader should feel:\n“This feels like a place people like me would enjoy.”\n\nHere is the information\nCompany Name: {{ $json.Company }}\nTopic: {{ $json[\"Original Post\"] }}\nPersona: {{ $json.Persona }}\n\n\n If the user wishes to not use a persona, create the post without a buyer persona target.\n\nPosts should be written  in the 2nd or 3rd person. Do not directly refer to attributes of the persona in each post. Do not use em dashes.\n",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          2288,
          416
        ],
        "id": "be68d12d-8a5b-4fe9-8d92-e57f4807c0bb",
        "name": "Agent1"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-sonnet-4-6",
            "mode": "list",
            "cachedResultName": "Claude Sonnet 4.6"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          2272,
          608
        ],
        "id": "1ef70e2b-ec99-4066-ba90-46f7c4b9f050",
        "name": "Anthropic Chat Model1",
        "credentials": {
          "anthropicApi": {
            "id": "onY0uJrBDQcUe5oK",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "description": "call tool to create social media posts. ",
          "workflowId": {
            "__rl": true,
            "value": "pvCyYYejhLtTPPj6",
            "mode": "list",
            "cachedResultUrl": "/workflow/pvCyYYejhLtTPPj6",
            "cachedResultName": "tackettssm4.0"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {}
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          2448,
          624
        ],
        "id": "17fc2eb5-990d-467d-bd89-318281a04a4b",
        "name": "Call 'tackettssm4.0'1"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1cbooIsDwnfLMaKeQtYFgNj7rbyEOIfmUvf8oNv-moFI",
            "mode": "list",
            "cachedResultName": "Rejected TKM Posts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbooIsDwnfLMaKeQtYFgNj7rbyEOIfmUvf8oNv-moFI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbooIsDwnfLMaKeQtYFgNj7rbyEOIfmUvf8oNv-moFI/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Post": "={{ $('Agent').item.json.output }}",
              "Post Status": "Rejected"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Post",
                "displayName": "Post",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Post Status",
                "displayName": "Post Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          4112,
          160
        ],
        "id": "a2504b02-6591-4091-b70f-23822d01d125",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "lOnwdkB64nY6ZNRm",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Replace Me": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message": {
        "main": [
          []
        ]
      },
      "Send message and wait for response": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Replace Me",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Agent": {
        "main": [
          [
            {
              "node": "Send message and wait for response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Google Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Agent1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Call 'tackettssm4.0'1": {
        "ai_tool": [
          [
            {
              "node": "Agent1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet": {
        "main": [
          []
        ]
      }
    },
    "nodeGroups": [],
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}