Backup_2026-07-02/tkmchatbot.json
{
  "updatedAt": "2026-06-28T23:17:16.589Z",
  "createdAt": "2026-06-23T00:54:47.248Z",
  "id": "hmZ3kCf9vVqEog8S",
  "name": "tkmchatbot",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Post"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        16,
        400
      ],
      "id": "a5692090-48c8-47e0-8451-00c1b20c53d5",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "options": {
          "systemMessage": "=YOU ARE\nA content assistant that writes social media posts for businesses inside a Northern Virginia shopping center. You write one post at a time.\nYour voice is that of a genuinely enthusiastic neighbor — someone who loves discovering great local spots and can't help but tell people about them. You write the way a trusted friend texts, not the way a brand publishes.\n\nTHE STANDARD EVERY POST IS HELD TO\nBefore finishing, ask yourself:\nWould someone share this even if they had nothing to sell?\nIf the answer is no, rewrite it.\nPosts should make someone feel:\n\"I didn't know this existed. I want to check this out.\"\nNever:\n\"Someone is trying to sell me something.\"\n\nWHAT THAT MEANS IN PRACTICE\nWrite about real experiences, genuine atmosphere, and moments people recognize from everyday life.\nNever include urgency, promotions, discounts, or pressure of any kind. Not because of a funnel rule — but because those things break trust, and trust is the only thing worth building.\n\n\nRewrite the original post for clarity, persona alignment, and authentic human voice. Don't summarize — deepen the emotional connection.\nIf only a company name is provided:\nAsk: \"What topic or theme would you like this post to focus on?\" Then wait.\nIf neither is provided:\nAsk: \"Please share the company name and either a topic or an original post — then I can get started.\" Do not generate content.\n\n\nNORTHERN VIRGINIA CONTEXT\nAssume readers prefer:\nOccoquan.\n\n\nOld Town Alexandria.\n\n\nfarmers markets.\n\n\nwalkable neighborhood experiences.\n\n\nAvoid mall-centric language.\nHighlight community and local discovery.\n\n\n\n\n\n\nAvoid:\nmarketing buzzwords.\n\n\nexaggerated excitement.\n\n\ncorporate phrasing.\n\n\n\n\n\n\nOUTPUT GOAL\nThe reader should feel:\n“This feels like a place people like me would enjoy.”\n\nHere is the information\nUse the Call 'tackettssm4.0' tool to retrieve the original post. \n If the user wishes to not use a persona, create the post without a buyer persona target.\n\nPosts should be written  in the 2nd or 3rd person. Do not directly refer to attributes of the persona in each post. Do not use em dashes.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -448,
        -384
      ],
      "id": "b3d02068-e9bf-4771-a942-a7b60e464f7b",
      "name": "Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-7",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.7"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -576,
        -144
      ],
      "id": "93dab7d2-34ae-45a4-b690-3ccc7df5ec76",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "onY0uJrBDQcUe5oK",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool to reference the original post. ",
        "workflowId": {
          "__rl": true,
          "value": "pvCyYYejhLtTPPj6",
          "mode": "list",
          "cachedResultUrl": "/workflow/pvCyYYejhLtTPPj6",
          "cachedResultName": "tackettssm4.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Original Post": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Original_Post', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "Original Post",
              "displayName": "Original Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Persona",
              "displayName": "Persona",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -208,
        -208
      ],
      "id": "03f3992d-8037-46ce-894d-29e8a75cb5d9",
      "name": "Call 'tackettssm4.0'"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        864,
        0
      ],
      "id": "21e12a2a-7703-4d36-8a8b-e00889943971",
      "name": "Telegram Trigger",
      "webhookId": "31247d31-dae8-4277-8970-7fa73352fa0d",
      "credentials": {
        "telegramApi": {
          "id": "GnTrhDvw3xIFWejb",
          "name": "TKMSocialMediaAgent"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "6990062444"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -288,
        -96
      ],
      "id": "4a82ebae-138c-432e-a349-5de5dd94b7de",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        80,
        -368
      ],
      "id": "d6e81a0a-baf9-4505-9f8f-1d101d859509",
      "name": "Merge"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "6990062444"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        992,
        432
      ],
      "id": "dc9523eb-e84a-4d32-83a6-3613262787e9",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        864,
        432
      ],
      "id": "116bddfe-c5df-4c67-a728-d52a237b6685",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "onY0uJrBDQcUe5oK",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c2eaa232-6281-4ac9-bbad-63d740fc184b",
              "name": "prompt ",
              "value": "={{ $json.Post }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        288
      ],
      "id": "f46d4343-11b9-4b39-92ed-7106ea153811",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        -288
      ],
      "id": "044d95d7-2916-44ef-bec0-2709c998a639",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13263e61-d108-4a19-ba6b-b65d905ca875",
              "name": "botprompt",
              "value": "={{ $json.prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -224
      ],
      "id": "ee902131-2931-46ea-baba-b41691de70c3",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "602139e9-20b8-4425-a4be-30792f0d3553",
              "name": "prompt",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -272
      ],
      "id": "f1d3c181-f89a-4a67-bef8-d2ca3358b4fc",
      "name": "edit fields"
    },
    {
      "parameters": {
        "description": "\"Call this tool whenever you receive a rejected social media post that needs revision. It retrieves the original post data — including company name, original post text, topic, and persona — needed to write an accurate revision. Required input: pass the full rejected post message you received as the 'output' parameter.\"",
        "workflowId": {
          "__rl": true,
          "value": "djowFdsHHS5Icrdp",
          "mode": "list",
          "cachedResultUrl": "/workflow/djowFdsHHS5Icrdp",
          "cachedResultName": "My workflow 3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1152,
        432
      ],
      "id": "fd87a03c-71fb-483b-9545-f95ee3b8fa11",
      "name": "fetch'tackettssm4.0 workflow'"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}\nMandatory:\nUse the Google Sheets Get Row Tool to retrieve the rejected post for you to revise:\n",
        "options": {
          "systemMessage": "=YOU ARE\n\nA content assistant that writes revised social media posts for businesses inside a Northern Virginia shopping center.\nYOUR TASK\n\nYou will receive a rejected post along with feedback or specifications for improvement. Your job is to revise the post to address that feedback while staying true to the original company, topic, and persona.\nRejected Post: \n{{ $json.Post }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1088,
        0
      ],
      "id": "59b310be-645b-464a-902d-dda20d2988cf",
      "name": "TKMCHATBOTAGENT2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1cbooIsDwnfLMaKeQtYFgNj7rbyEOIfmUvf8oNv-moFI",
          "mode": "list",
          "cachedResultName": "Rejected TKM Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbooIsDwnfLMaKeQtYFgNj7rbyEOIfmUvf8oNv-moFI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbooIsDwnfLMaKeQtYFgNj7rbyEOIfmUvf8oNv-moFI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        720,
        256
      ],
      "id": "eb7909e5-b8f1-42d4-a1d3-a740b9521c3b",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lOnwdkB64nY6ZNRm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6990062444",
        "text": "={{ $json.output }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Approve Changes",
                    "additionalFields": {
                      "callback_data": ""
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1568,
        -160
      ],
      "id": "c06e15f4-ef95-459e-b4af-e851cf723abe",
      "name": "Send a text message",
      "webhookId": "a7a65f31-da7f-4358-8342-3c4ae3fc7f92",
      "credentials": {
        "telegramApi": {
          "id": "GnTrhDvw3xIFWejb",
          "name": "TKMSocialMediaAgent"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1cbooIsDwnfLMaKeQtYFgNj7rbyEOIfmUvf8oNv-moFI",
          "mode": "list",
          "cachedResultName": "Rejected TKM Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbooIsDwnfLMaKeQtYFgNj7rbyEOIfmUvf8oNv-moFI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbooIsDwnfLMaKeQtYFgNj7rbyEOIfmUvf8oNv-moFI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1248,
        208
      ],
      "id": "88e8ca80-36cb-4ef8-a624-a41292fcdf47",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lOnwdkB64nY6ZNRm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "6990062444",
        "message": "={{ $json.output }}",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Approve Revision",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Approve Revision"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1488,
        -16
      ],
      "id": "2f65058c-f182-48e2-9192-9b316305efde",
      "name": "Send message and wait for response",
      "webhookId": "b9ab8fe3-9a98-43f9-83a8-50b73db66027",
      "credentials": {
        "telegramApi": {
          "id": "GnTrhDvw3xIFWejb",
          "name": "TKMSocialMediaAgent"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f8aa6833-c9ff-40ca-9b7a-0966e81cdab8",
              "leftValue": "={{ $json.data['Approve Revision'] }}",
              "rightValue": "Approve Revision",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1696,
        -16
      ],
      "id": "8db054ce-2f99-443d-b3e3-22bd248fb7e3",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1cbooIsDwnfLMaKeQtYFgNj7rbyEOIfmUvf8oNv-moFI",
          "mode": "list",
          "cachedResultName": "Rejected TKM Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbooIsDwnfLMaKeQtYFgNj7rbyEOIfmUvf8oNv-moFI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbooIsDwnfLMaKeQtYFgNj7rbyEOIfmUvf8oNv-moFI/edit#gid=0"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1904,
        -112
      ],
      "id": "278ceb0f-5e00-41e9-adf0-54289a7c077b",
      "name": "Delete rows or columns from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lOnwdkB64nY6ZNRm",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call 'tackettssm4.0'": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        []
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "TKMCHATBOTAGENT2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        []
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "TKMCHATBOTAGENT2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "TKMCHATBOTAGENT2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Edit Fields2": {
      "main": [
        []
      ]
    },
    "edit fields": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch'tackettssm4.0 workflow'": {
      "ai_tool": [
        []
      ]
    },
    "TKMCHATBOTAGENT2": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "TKMCHATBOTAGENT2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Post": "Here's the post:\n\n---\n\n**Most heat-related illness is preventable. That's actually the important part.**\n\nSummer in Northern Virginia is no joke. The humidity alone changes the math on how long a person can safely be outside, and a lot of people underestimate that until something goes wrong.\n\nA few things worth understanding before the hottest weeks hit:\n\n**Hydration works best when it's consistent.** Waiting until you're thirsty means you're already playing catch-up. Small amounts of water throughout the day do more than a large amount all at once.\n\n**Heat exhaustion and heat stroke are different situations.** Heat exhaustion usually involves heavy sweating, weakness, and nausea. Heat stroke is more serious: the sweating often stops, thinking becomes unclear, and body temperature can spike above 103°F. One can be managed carefully at home. The other cannot.\n\n**Children and older adults need extra attention.** They are less reliable at signaling when something feels wrong, and their bodies respond to heat differently than a healthy adult's does.\n\n**Parked cars are dangerous faster than most people expect.** Even on a mild day, interior temperatures rise quickly. There is no errand short enough to make that a safe choice.\n\nWhen you're not sure whether something needs medical attention, Patient First is right here in the shopping center, no appointment necessary.\n\nThe heat is manageable. It just takes a little knowledge.\n\n---"
        }
      }
    ]
  },
  "versionId": "540f361e-529e-4fc4-950e-514b4d5e7f59",
  "activeVersionId": "540f361e-529e-4fc4-950e-514b4d5e7f59",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-23T00:54:47.248Z",
      "createdAt": "2026-06-23T00:54:47.248Z",
      "role": "workflow:owner",
      "workflowId": "hmZ3kCf9vVqEog8S",
      "projectId": "ltdhHXOvbQcr8AFb"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-07-02T14:35:09.173Z",
    "createdAt": "2026-07-02T14:35:09.173Z",
    "versionId": "540f361e-529e-4fc4-950e-514b4d5e7f59",
    "workflowId": "hmZ3kCf9vVqEog8S",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "Post"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          16,
          400
        ],
        "id": "a5692090-48c8-47e0-8451-00c1b20c53d5",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=",
          "options": {
            "systemMessage": "=YOU ARE\nA content assistant that writes social media posts for businesses inside a Northern Virginia shopping center. You write one post at a time.\nYour voice is that of a genuinely enthusiastic neighbor — someone who loves discovering great local spots and can't help but tell people about them. You write the way a trusted friend texts, not the way a brand publishes.\n\nTHE STANDARD EVERY POST IS HELD TO\nBefore finishing, ask yourself:\nWould someone share this even if they had nothing to sell?\nIf the answer is no, rewrite it.\nPosts should make someone feel:\n\"I didn't know this existed. I want to check this out.\"\nNever:\n\"Someone is trying to sell me something.\"\n\nWHAT THAT MEANS IN PRACTICE\nWrite about real experiences, genuine atmosphere, and moments people recognize from everyday life.\nNever include urgency, promotions, discounts, or pressure of any kind. Not because of a funnel rule — but because those things break trust, and trust is the only thing worth building.\n\n\nRewrite the original post for clarity, persona alignment, and authentic human voice. Don't summarize — deepen the emotional connection.\nIf only a company name is provided:\nAsk: \"What topic or theme would you like this post to focus on?\" Then wait.\nIf neither is provided:\nAsk: \"Please share the company name and either a topic or an original post — then I can get started.\" Do not generate content.\n\n\nNORTHERN VIRGINIA CONTEXT\nAssume readers prefer:\nOccoquan.\n\n\nOld Town Alexandria.\n\n\nfarmers markets.\n\n\nwalkable neighborhood experiences.\n\n\nAvoid mall-centric language.\nHighlight community and local discovery.\n\n\n\n\n\n\nAvoid:\nmarketing buzzwords.\n\n\nexaggerated excitement.\n\n\ncorporate phrasing.\n\n\n\n\n\n\nOUTPUT GOAL\nThe reader should feel:\n“This feels like a place people like me would enjoy.”\n\nHere is the information\nUse the Call 'tackettssm4.0' tool to retrieve the original post. \n If the user wishes to not use a persona, create the post without a buyer persona target.\n\nPosts should be written  in the 2nd or 3rd person. Do not directly refer to attributes of the persona in each post. Do not use em dashes.\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          -448,
          -384
        ],
        "id": "b3d02068-e9bf-4771-a942-a7b60e464f7b",
        "name": "Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-opus-4-7",
            "mode": "list",
            "cachedResultName": "Claude Opus 4.7"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          -576,
          -144
        ],
        "id": "93dab7d2-34ae-45a4-b690-3ccc7df5ec76",
        "name": "Anthropic Chat Model",
        "credentials": {
          "anthropicApi": {
            "id": "onY0uJrBDQcUe5oK",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "description": "Call this tool to reference the original post. ",
          "workflowId": {
            "__rl": true,
            "value": "pvCyYYejhLtTPPj6",
            "mode": "list",
            "cachedResultUrl": "/workflow/pvCyYYejhLtTPPj6",
            "cachedResultName": "tackettssm4.0"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "Original Post": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Original_Post', ``, 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Company",
                "displayName": "Company",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "Original Post",
                "displayName": "Original Post",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "Persona",
                "displayName": "Persona",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          -208,
          -208
        ],
        "id": "03f3992d-8037-46ce-894d-29e8a75cb5d9",
        "name": "Call 'tackettssm4.0'"
      },
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          864,
          0
        ],
        "id": "21e12a2a-7703-4d36-8a8b-e00889943971",
        "name": "Telegram Trigger",
        "webhookId": "31247d31-dae8-4277-8970-7fa73352fa0d",
        "credentials": {
          "telegramApi": {
            "id": "GnTrhDvw3xIFWejb",
            "name": "TKMSocialMediaAgent"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "6990062444"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          -288,
          -96
        ],
        "id": "4a82ebae-138c-432e-a349-5de5dd94b7de",
        "name": "Simple Memory"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          80,
          -368
        ],
        "id": "d6e81a0a-baf9-4505-9f8f-1d101d859509",
        "name": "Merge"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "6990062444"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          992,
          432
        ],
        "id": "dc9523eb-e84a-4d32-83a6-3613262787e9",
        "name": "Simple Memory1"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-sonnet-4-6",
            "mode": "list",
            "cachedResultName": "Claude Sonnet 4.6"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          864,
          432
        ],
        "id": "116bddfe-c5df-4c67-a728-d52a237b6685",
        "name": "Anthropic Chat Model1",
        "credentials": {
          "anthropicApi": {
            "id": "onY0uJrBDQcUe5oK",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c2eaa232-6281-4ac9-bbad-63d740fc184b",
                "name": "prompt ",
                "value": "={{ $json.Post }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          400,
          288
        ],
        "id": "f46d4343-11b9-4b39-92ed-7106ea153811",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1392,
          -288
        ],
        "id": "044d95d7-2916-44ef-bec0-2709c998a639",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "13263e61-d108-4a19-ba6b-b65d905ca875",
                "name": "botprompt",
                "value": "={{ $json.prompt }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          672,
          -224
        ],
        "id": "ee902131-2931-46ea-baba-b41691de70c3",
        "name": "Edit Fields2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "602139e9-20b8-4425-a4be-30792f0d3553",
                "name": "prompt",
                "value": "={{ $json.message.text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          512,
          -272
        ],
        "id": "f1d3c181-f89a-4a67-bef8-d2ca3358b4fc",
        "name": "edit fields"
      },
      {
        "parameters": {
          "description": "\"Call this tool whenever you receive a rejected social media post that needs revision. It retrieves the original post data — including company name, original post text, topic, and persona — needed to write an accurate revision. Required input: pass the full rejected post message you received as the 'output' parameter.\"",
          "workflowId": {
            "__rl": true,
            "value": "djowFdsHHS5Icrdp",
            "mode": "list",
            "cachedResultUrl": "/workflow/djowFdsHHS5Icrdp",
            "cachedResultName": "My workflow 3"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          1152,
          432
        ],
        "id": "fd87a03c-71fb-483b-9545-f95ee3b8fa11",
        "name": "fetch'tackettssm4.0 workflow'"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('Telegram Trigger').item.json.message.text }}\nMandatory:\nUse the Google Sheets Get Row Tool to retrieve the rejected post for you to revise:\n",
          "options": {
            "systemMessage": "=YOU ARE\n\nA content assistant that writes revised social media posts for businesses inside a Northern Virginia shopping center.\nYOUR TASK\n\nYou will receive a rejected post along with feedback or specifications for improvement. Your job is to revise the post to address that feedback while staying true to the original company, topic, and persona.\nRejected Post: \n{{ $json.Post }}\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          1088,
          0
        ],
        "id": "59b310be-645b-464a-902d-dda20d2988cf",
        "name": "TKMCHATBOTAGENT2"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1cbooIsDwnfLMaKeQtYFgNj7rbyEOIfmUvf8oNv-moFI",
            "mode": "list",
            "cachedResultName": "Rejected TKM Posts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbooIsDwnfLMaKeQtYFgNj7rbyEOIfmUvf8oNv-moFI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbooIsDwnfLMaKeQtYFgNj7rbyEOIfmUvf8oNv-moFI/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          720,
          256
        ],
        "id": "eb7909e5-b8f1-42d4-a1d3-a740b9521c3b",
        "name": "Get row(s) in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "lOnwdkB64nY6ZNRm",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "6990062444",
          "text": "={{ $json.output }}",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Approve Changes",
                      "additionalFields": {
                        "callback_data": ""
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1568,
          -160
        ],
        "id": "c06e15f4-ef95-459e-b4af-e851cf723abe",
        "name": "Send a text message",
        "webhookId": "a7a65f31-da7f-4358-8342-3c4ae3fc7f92",
        "credentials": {
          "telegramApi": {
            "id": "GnTrhDvw3xIFWejb",
            "name": "TKMSocialMediaAgent"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1cbooIsDwnfLMaKeQtYFgNj7rbyEOIfmUvf8oNv-moFI",
            "mode": "list",
            "cachedResultName": "Rejected TKM Posts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbooIsDwnfLMaKeQtYFgNj7rbyEOIfmUvf8oNv-moFI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbooIsDwnfLMaKeQtYFgNj7rbyEOIfmUvf8oNv-moFI/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.7,
        "position": [
          1248,
          208
        ],
        "id": "88e8ca80-36cb-4ef8-a624-a41292fcdf47",
        "name": "Get row(s) in sheet in Google Sheets",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "lOnwdkB64nY6ZNRm",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "sendAndWait",
          "chatId": "6990062444",
          "message": "={{ $json.output }}",
          "responseType": "customForm",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Approve Revision",
                "fieldType": "radio",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "Approve Revision"
                    }
                  ]
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1488,
          -16
        ],
        "id": "2f65058c-f182-48e2-9192-9b316305efde",
        "name": "Send message and wait for response",
        "webhookId": "b9ab8fe3-9a98-43f9-83a8-50b73db66027",
        "credentials": {
          "telegramApi": {
            "id": "GnTrhDvw3xIFWejb",
            "name": "TKMSocialMediaAgent"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "f8aa6833-c9ff-40ca-9b7a-0966e81cdab8",
                "leftValue": "={{ $json.data['Approve Revision'] }}",
                "rightValue": "Approve Revision",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1696,
          -16
        ],
        "id": "8db054ce-2f99-443d-b3e3-22bd248fb7e3",
        "name": "If"
      },
      {
        "parameters": {
          "operation": "delete",
          "documentId": {
            "__rl": true,
            "value": "1cbooIsDwnfLMaKeQtYFgNj7rbyEOIfmUvf8oNv-moFI",
            "mode": "list",
            "cachedResultName": "Rejected TKM Posts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbooIsDwnfLMaKeQtYFgNj7rbyEOIfmUvf8oNv-moFI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cbooIsDwnfLMaKeQtYFgNj7rbyEOIfmUvf8oNv-moFI/edit#gid=0"
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1904,
          -112
        ],
        "id": "278ceb0f-5e00-41e9-adf0-54289a7c077b",
        "name": "Delete rows or columns from sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "lOnwdkB64nY6ZNRm",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Call 'tackettssm4.0'": {
        "ai_tool": [
          [
            {
              "node": "Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Agent": {
        "main": [
          []
        ]
      },
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "TKMCHATBOTAGENT2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          []
        ]
      },
      "Simple Memory1": {
        "ai_memory": [
          [
            {
              "node": "TKMCHATBOTAGENT2",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "TKMCHATBOTAGENT2",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          []
        ]
      },
      "Edit Fields2": {
        "main": [
          []
        ]
      },
      "edit fields": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "fetch'tackettssm4.0 workflow'": {
        "ai_tool": [
          []
        ]
      },
      "TKMCHATBOTAGENT2": {
        "main": [
          [
            {
              "node": "Send message and wait for response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          []
        ]
      },
      "Get row(s) in sheet in Google Sheets": {
        "ai_tool": [
          [
            {
              "node": "TKMCHATBOTAGENT2",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Send message and wait for response": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Delete rows or columns from sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}