Backup_2026-01-09/Clearbrook Calendar Cleaner.json
{
  "createdAt": "2025-12-17T05:29:23.655Z",
  "updatedAt": "2025-12-17T07:24:29.735Z",
  "id": "l7I4wRqX5XSXL59s",
  "name": "Clearbrook Calendar Cleaner",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "faf47dba-c1e0-4563-9627-3658b1b47336",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "1ttilvfbhv7go5sp5unkg1rous@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Clearbrook Center of the Arts Schedule "
        },
        "timeMin": "={{ $now.minus({ year: 6}) }}",
        "timeMax": "={{ $now.minus({ year: 1 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "ae2d7c5f-c84b-4cf4-97f2-0898f82e6dad",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "phO0g9ClL4zuy414",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "1ttilvfbhv7go5sp5unkg1rous@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Clearbrook Center of the Arts Schedule "
        },
        "eventId": "={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        640,
        0
      ],
      "id": "f3f1d104-5e4e-492b-bd2c-11aab3f87157",
      "name": "Delete an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "phO0g9ClL4zuy414",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4b57b762-c170-4bf9-adb9-8be139143380",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "Lime Light Vibes",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "b468ec05-f128-43bd-80aa-8942fbbda402",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "Speak Into Existence Open Mic",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "2eae4b0c-b955-4ba7-9f92-77b4238c1abe",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "Moonlight Booking",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "9585f42f-8250-41a1-b331-ad2e70071f5f",
      "name": "Filter"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Delete an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "74de51ab-734e-4d29-a891-30918cb98220",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-12-17T05:29:23.655Z",
      "updatedAt": "2025-12-17T05:29:23.655Z",
      "role": "workflow:owner",
      "workflowId": "l7I4wRqX5XSXL59s",
      "projectId": "ltdhHXOvbQcr8AFb"
    }
  ],
  "tags": []
}