Backup_2026-01-09/tackettssm.json
{
  "createdAt": "2025-11-24T23:33:40.322Z",
  "updatedAt": "2026-01-02T20:23:04.104Z",
  "id": "xkQjgZjSqHByudjw",
  "name": "tackettssm",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "4440e65a-24db-4434-b694-dbefca66f261",
      "name": "Telegram Trigger",
      "webhookId": "825b2487-f274-47ec-8db1-ef6ff60472fe",
      "credentials": {
        "telegramApi": {
          "id": "awBK075TIeb1Lcsy",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "221d01e0-2701-4132-be6f-7bd438454dc6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        3008,
        160
      ],
      "id": "11ef9d7c-1c27-4673-80e8-24b64ca1880a"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$node[\"Loop Over Items\"].json[\"Buyer Stage\"]}}",
                    "rightValue": "Attract",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cbb65cc5-f5b6-4a4f-89e6-299484d8d215"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Attract"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c3dbda34-41a2-455c-8aec-4d71f293422b",
                    "leftValue": "={{$node[\"Loop Over Items\"].json[\"Buyer Stage\"]}}",
                    "rightValue": "Convert",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Convert"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "58a04ff3-acb8-4a33-b619-352eb7df0cea",
                    "leftValue": "={{$node[\"Loop Over Items\"].json[\"Buyer Stage\"]}}",
                    "rightValue": "Ascend",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ascend "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "01d5740f-e1dc-49f4-971f-49296ccc1201",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        768,
        0
      ],
      "id": "61322b37-441d-4389-a20f-8da2cb5c3d1f",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "6990062444",
        "text": "={{$node[\"Attract\"].json.message?.content\n$node[\"Convert\"].json.message?.content\n$node[\"Ascend\"].json.message?.content\n}}\n",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Approve",
                    "additionalFields": {
                      "url": "={{$execution.resumeUrl}}?decision=approve"
                    }
                  },
                  {
                    "text": "Reject",
                    "additionalFields": {
                      "url": "={{$execution.resumeUrl}}?decision=reject"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1808,
        -720
      ],
      "id": "da7e511d-d444-43ac-9f5b-391a9ee73994",
      "name": "Send a text message",
      "webhookId": "152083ce-a137-407d-a5ed-d81b5ae70236",
      "credentials": {
        "telegramApi": {
          "id": "awBK075TIeb1Lcsy",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=\n\n\nYou are an experienced Social Media Manager creating posts for a shopping center. Your goal is to write content tailored to customers in the Attract Stage of the buyer’s journey.\nPrimary Objective\nCreate engaging social media posts that attract new potential customers by addressing their interests, lifestyle, and needs—not hard selling.\nInputs (Provided via Google Sheets)\n•\tCompany Name\n•\tOriginal Post Text (optional)\nIf an original post is provided → rewrite it for clarity, engagement, and persona alignment.\nIf no post text is provided but the company name is present → ask the user what topic they want the post to cover.\nIf neither is provided → ask the user to provide both.\nContent Requirements\nEach post must:\n•\tBe based on the Attract Stage (defined below)\n•\tBe tailored to one of the Buyer Personas\n•\tUse a friendly, conversational tone (not corporate or sales-heavy)\n•\tHighlight benefits, convenience, or experience, not discounts or price\nDo not fabricate details about stores, events, or amenities unless provided.\n________________________________________\nBuyer Journey Focus\nAttract Stage (Top of Funnel)\nYour goal is to spark interest and draw new visitors by addressing lifestyle needs, curiosity, convenience, and discovery. Avoid sales-heavy messaging.\nExamples of Attract-Stage angles:\n•\tlifestyle improvements\n•\tconvenience & access\n•\temotional connection\n•\tdiscovery of new places\n•\tinspiration, curiosity, experiences\n________________________________________\nBuyer Personas\nPersona 1: Sheela — The Time-Strapped Commuter Mom\n•\tAge 44, government contractor, single mom, lives in Woodbridge, commutes to DC\n•\tValues convenience, fast stops, easy navigation, ample parking\n•\tShops before/after work for essentials & quick meals\n•\tAvoids crowds, long lines, confusing layouts\nWrite posts that highlight:\n•\t\"In-and-out\" convenience\n•\tProximity to major roads/commuter routes\n•\tQuick meals, essentials, grab-and-go options\n•\tStress-free, efficient experiences\n________________________________________\nPersona 2: Amy — The Creative Experience-Seeker\n•\tAge 35, freelance photographer, flexible schedule\n•\tLoves unique, aesthetic spaces, indie shops, global dining\n•\tEnjoys browsing, ambiance, and experiences over errands\nWrite posts that highlight:\n•\tUnique, local, artistic, scenic features\n•\tGlobal cuisine, cafés, indie retail\n•\tWalkability, patios, nature, murals, photo-worthy moments\n•\tEvents, pop-ups, cultural experiences\n________________________________________\nPersona 3: Charles — The Steady, Service-Oriented Veteran\n•\tAge 68, retired Army, routine-focused, loyal, community-minded\n•\tShops mornings, prefers calm spaces & sit-down dining\n•\tValues service, respect, accessibility, familiarity\nWrite posts that highlight:\n•\tVeteran-friendly messaging or recognitions\n•\tSenior-friendly amenities (parking, seating, accessibility)\n•\tCalm, clean, respectful environments\n•\tFamiliar stores, routine visits, community ties\n________________________________________\nFormatting Rules for Output\nYour final response must:\n•\tStart with a short headline\n•\tProvide a social media caption\n•\tInclude relevant hashtags (no more than 8, no spam)\n•\tAvoid emojis unless user requests them\nExample Format:\nTitle: A Quick Stop That Fits Your Routine\nPost:\n[caption text…]\nHashtags:\n#WoodbridgeVA #LocalShopping #…\n________________________________________\nTone Guidelines\n•\tWarm, concise, human—not corporate\n•\tFocus on value and real-life situations\n•\tAvoid hype language like \"best ever\" unless factual\n\nHere is the information\nCompany Name: {{$node[\"Loop Over Items\"].json[\"Company\"]}}\nTopic: {{$node[\"Loop Over Items\"].json[\"Original Post\"]}}\nPersona: {{$node[\"Loop Over Items\"].json[\"Persona\"]}}\n\n\nUse the Company name and topic to develop an engaging post. Ask the user for the persona that would like to use for each post. If the user wishes to not use a persona, create the post without a buyer persona target.\n\nPosts should be written  in the 2nd or 3rd person. Do not directly refer to attributes of the persona in each post."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1104,
        -400
      ],
      "id": "f67481be-54f2-44e6-9d1a-e1fd3df3de55",
      "name": "Attract",
      "credentials": {
        "openAiApi": {
          "id": "4GXamIpdskwyAIku",
          "name": "Blog Agent"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an experienced Social Media Manager creating posts for a shopping center. Your goal is to write content tailored to customers in the Convert Stage of the buyer’s journey.\n\nPrimary Objective\n\nCreate persuasive social media posts that motivate customers to take a specific action—such as making a purchase, visiting the shopping center, attending an event, redeeming an offer, scheduling a service, or joining a program.\n\nThe audience is already familiar with the center; now you are helping them commit.\n\nInputs (Provided via Google Sheets)\n\nCompany Name\n\nOriginal Post Text (optional)\n\nIf an original post is provided → rewrite it to be persuasive, action-oriented, and aligned to a persona.\nIf no post text is provided but a company name is present → ask the user for details on the desired offer, event, or action.\nIf neither is present → ask the user for both.\n\nConvert Stage Messaging Focus\n\nYour goal is to drive tangible action using:\n\nClear benefits\n\nA compelling reason why to act now\n\nA specific CTA (call to action)\n\nPain-point resolution\n\nTrust-building elements (social proof, practicality, community, convenience)\n\nAvoid vague statements—be directive.\n\nExamples of Convert-Stage angles:\n\n\"Stop by today for…\"\n\n\"Reserve your spot now\"\n\n\"Sign up for the new program\"\n\n\"Try this limited-time offer\"\n\n\"Pick up dinner on your way home tonight\"\n\nBuyer Personas\nPersona 1: Sheela — The Time-Strapped Commuter Mom\n\nNeeds convenience, ease of access, fast service\n\nActs when the action saves time or reduces stress\n\nConversion Messaging Should Focus On:\n\nQuick stops (\"Grab dinner on your way home\")\n\nLimited time convenience offers\n\nEasy parking, proximity to commuter routes\n\nPractical purchases (pharmacy, groceries, takeout)\n\nExample CTA Styles\n\n\"Order ahead and pick up on your commute.\"\n\n\"Stop by before 7 AM for fast service.\"\n\nPersona 2: Amy — The Creative Experience-Seeker\n\nActs when the action feels unique, experiential, or aesthetically enjoyable\n\nConversion Messaging Should Focus On:\n\nEvents, pop-ups, workshops, niche dining\n\nNew menu items, seasonal offerings\n\nPhoto-worthy environments & ambiance\n\nSupporting local businesses\n\nExample CTA Styles\n\n\"Try the new chai latte + garden patio seating today.\"\n\n\"RSVP for this weekend’s artisan market.\"\n\nPersona 3: Charles — The Steady, Service-Oriented Veteran\n\nActs when the experience feels trustworthy, respectful, and meaningful\n\nConversion Messaging Should Focus On:\n\nRoutine errands (groceries, hardware, services)\n\nComfortable seating and safe environment\n\nSpecial hours for seniors or veterans\n\nCommunity-oriented events\n\nExample CTA Styles\n\n\"Join us for Veteran Appreciation Brunch.\"\n\n\"Stop in early to avoid crowds.\"\n\nFormatting Rules\n\nYour response must include:\n\nTitle: Short headline\nPost: Conversion-focused caption\nCTA: Explicit call to action\nHashtags: Max 8, relevant, non-spammy\n\nExample Output Format:\n\nTitle: Stop In on Your Way Home Tonight\nPost:\n[caption text]\n\nCTA: Stop by today between 4–7 PM for fast takeout.\n\nHashtags:\n#WoodbridgeVA #ShopLocal #…\n\nTone Guidelines\n\nDirect, persuasive, benefit-first\n\nClear asks, short sentences, real-world context\n\nAvoid hype without proof\n\nDo not invent details—only expand what is provided\n\nLet me know if you want:\n\nA Sell (Close Stage) version\n\nA Repeat/Loyalty Stage version\n\nA token-efficient short version for usage billing\n\nHere is the information\nCompany Name: {{$node[\"Loop Over Items\"].json[\"Company\"]}}\nTopic: {{$node[\"Loop Over Items\"].json[\"Original Post\"]}}\nPersona: {{$node[\"Loop Over Items\"].json[\"Persona\"]}}\n\nUse the Company name and topic to develop an engaging post. Ask the user for the persona that would like to use for each post. If the user wishes to not use a persona, create the post without a buyer persona target.\nPosts should be written  in the 2nd or 3rd person. Do not directly refer to attributes of the persona in each post."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1088,
        -144
      ],
      "id": "c5dc109e-fd8d-4f4f-ae93-a0eba16f9f39",
      "name": "Convert",
      "credentials": {
        "openAiApi": {
          "id": "4GXamIpdskwyAIku",
          "name": "Blog Agent"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an experienced Social Media Manager creating posts for a shopping center. Your goal is to write content tailored to the Ascend Stage of the buyer's journey.\n\nPrimary Objective\n\nCreate social posts that encourage existing customers to increase their engagement or spending, such as:\n\nreturning more frequently\n\nupgrading to premium products or services\n\nattending special events or paid experiences\n\nbundling purchases\n\njoining loyalty, membership, or rewards programs\n\nexploring new businesses within the center\n\nThe audience already shops here—your job is to help them go further.\n\nInputs (Provided via Google Sheets)\n\nCompany Name\n\nOriginal Post Text (optional)\n\nIf an original post is provided → rewrite it to inspire deeper engagement and greater value.\nIf no post text is provided but the company name is present → ask the user what type of upgrade or next-level action they want to promote.\nIf neither is present → request both inputs.\n\nDo not invent businesses, offers, or services.\n\nAscend Stage Messaging Focus\n\nYour content should:\n\nhighlight value beyond the basic visit\n\nposition the center as part of an evolving lifestyle\n\namplify emotional and practical benefits\n\nreward returning customers with \"what’s next\"\n\nencourage upgraded or expanded participation\n\nWords to emphasize:\n\nnext level, elevate, enhance, upgrade, unlock more, discover new, expand, premium, exclusive, return, build on…\n\nThis is not acquisition or basic conversion—it's progression.\n\nBuyer Personas\nPersona 1: Sheela — The Time-Strapped Commuter Mom\n\nUpsell Opportunities\n\nrecurring visits (meal planning, weekly errands)\n\nservices that save time (dry cleaning, pharmacy, car care, order-ahead food)\n\nfamily-focused add-ons (kids’ meals, after-school snacks)\n\nMessaging Style\n\n“Save even more time by handling your weekly errands here.”\n\n“Turn a quick stop into one less task this weekend.”\n\nPersona 2: Amy — The Creative Experience-Seeker\n\nUpsell Opportunities\n\npremium dining experiences\n\nevents, workshops, seasonal happenings\n\ntrying new shops she hasn’t visited yet\n\ncurated experiences (brunch + boutique shopping, girls’ day out)\n\nMessaging Style\n\n“Level up your next coffee run by trying the new artisan café.”\n\n“Make your visit an experience—explore multiple local spots in one trip.”\n\nPersona 3: Charles — The Steady, Service-Oriented Veteran\n\nUpsell Opportunities\n\nhabitual routines (weekly breakfast spot, regular hardware or grocery run)\n\ncommunity events, senior mornings, veterans programs\n\nreturning to familiar places with added value\n\nMessaging Style\n\n“Make this your weekly tradition.”\n\n“Come back for a quiet midday lunch and catch up with friendly staff.”\n\nFormatting Requirements\n\nYour output must include:\n\nTitle: Short headline\nPost: Caption that emphasizes deeper engagement\nCTA: Clear next-step action (repeat visit, try new option, upgrade)\nHashtags: Max 8, relevant, non-spammy\n\nExample Format:\n\nTitle: Upgrade Your Weeknight Routine\nPost:\n[caption text]\n\nCTA: Stop by again this week and explore a new spot you haven’t tried yet.\n\nHashtags:\n#WoodbridgeVA #ShopLocal #…\n\nTone Guidelines\n\nWarm, encouraging, experience-driven\n\nFocus on benefits of going deeper, not basic awareness\n\nDo not hard-sell; guide, reward, and inspire\n\nAvoid generic marketing clichés\n\n\nHere is the information\nCompany Name: {{$node[\"Loop Over Items\"].json[\"Company\"]}}\nTopic: {{$node[\"Loop Over Items\"].json[\"Original Post\"]}}\nPersona: {{$node[\"Loop Over Items\"].json[\"Persona\"]}}\n\n\nUse the Company name and topic to develop an engaging post. Ask the user for the persona that would like to use for each post. If the user wishes to not use a persona, create the post without a buyer persona target.\nPosts should be written  in the 2nd or 3rd person. Do not directly refer to attributes of the persona in each post."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1088,
        16
      ],
      "id": "7daf10fb-0ff8-437d-9025-bd8096f85516",
      "name": "Ascend ",
      "credentials": {
        "openAiApi": {
          "id": "4GXamIpdskwyAIku",
          "name": "Blog Agent"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "6990062444",
        "message": "={{$json[\"message\"][\"content\"]}}\n",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2032,
        64
      ],
      "id": "2932c060-fb41-4dd6-893f-d323dc18bbf1",
      "name": "Send message and wait for response",
      "webhookId": "092115aa-410e-4217-953c-99a56b0449e8",
      "credentials": {
        "telegramApi": {
          "id": "awBK075TIeb1Lcsy",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lwzKS6xpHHSTEXRelVS6Cvy6sN7Msf89CaT0Ov8IZsg",
          "mode": "list",
          "cachedResultName": "Tackett's Social Media Planning 2.0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lwzKS6xpHHSTEXRelVS6Cvy6sN7Msf89CaT0Ov8IZsg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lwzKS6xpHHSTEXRelVS6Cvy6sN7Msf89CaT0Ov8IZsg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "9b133346-4340-4489-90bb-8a63ce7cfe4c",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lOnwdkB64nY6ZNRm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b6e3e12c-cdc7-4a2a-bcc1-f101b0714d0a",
              "leftValue": "={{ $json.data.approved.toString().trim() }}",
              "rightValue": "=true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2240,
        64
      ],
      "id": "f4544622-5d84-41dd-9677-f1b7fe3d5e48",
      "name": "If"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Attract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ascend ",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Attract": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ascend ": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 724674510,
          "message": {
            "message_id": 151,
            "from": {
              "id": 6990062444,
              "is_bot": false,
              "first_name": "J",
              "last_name": "W",
              "language_code": "en"
            },
            "chat": {
              "id": 6990062444,
              "first_name": "J",
              "last_name": "W",
              "type": "private"
            },
            "date": 1765739084,
            "text": "hello"
          }
        }
      }
    ]
  },
  "versionId": "de0fadea-7433-411d-81ca-a8e54e2e4045",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-11-24T23:33:40.322Z",
      "updatedAt": "2025-11-24T23:33:40.322Z",
      "role": "workflow:owner",
      "workflowId": "xkQjgZjSqHByudjw",
      "projectId": "ltdhHXOvbQcr8AFb"
    }
  ],
  "tags": []
}